[2017-01-23 13:47] andreasvirkus opened #1 "Methods utility"
Firstly, thanks for a small and useful utility wrapper for Vue.js' testing purposes!

I think there's a small bug in Wrapper.js' methods() function? It references `$options.method` instead of `$options.methods`. When I changed it under dist/Wrapper.js it started working for me. Could you double-check? I could make a PR.

BR,
Andreas

[2017-01-23 14:14] eddyerburgh commented on #1
Yep that's definitely a bug. There must be a problem with the tests too, since they're all passing.

If you could make a PR with a fix and a test that would be great, if you don't have time then I can do it later :smile:

[2017-01-23 15:08] andreasvirkus commented on #1
Created PR #2

[2017-01-23 15:09] andreasvirkus commented on #1
Similarly to `.methods()`, `.find()` also doesn't seem to work for me... `.contains()` and `.is()` work however.

[2017-01-23 15:12] eddyerburgh commented on #1
Thanks for the PR. Could you create a new issue for .find with more details? That's tested fairly extensively so the solution will be more complicated.

[2017-01-23 15:12] #1 closed

[2017-01-24 08:52] andreasvirkus opened #3 "findAllVNodes doesn't look through children"
Hello again! It seems for my setup that `.find()` doesn't find any child nodes and therefore only looks at the parent node, making `.find()` the equivalent of `.hasClass()` (when used with a class selector). When used with an ID, it gives the error

     TypeError: node.elm.getAttribute is not a function

Also, in vNode.js, why is there a check for `nodeName === '#text'` (findById, line 32)?

The

[2017-01-24 09:13] eddyerburgh commented on #3
Thanks @andreasvirkus .

The reason there is an if statement for #text is to stop errors thrown by text nodes when checking if vNodes have an id. In Vue text nodes are rendered as vNodes with nodename #text.

No need to replicate, I have enough info :+1:

I'll look into this either this afternoon or tomorrow and get a much more robust vnode traversal set up.

[2017-01-24 11:00] andreasvirkus commented on #3
when using `util.inspect`, I could find some references of the child elements under
_vnode (maybe it's of some extra help):

[code]

[2017-01-25 21:15] eddyerburgh commented on #3
Hey, so I've just got round to having a look. The vNode tree is different for transitions, I haven't tested for them. Tomorrow I'm going to change how the vNode search works to account for transitions and scopes.

In the meantime - here's one way to test the div is being rendered:

[code]

[2017-01-26 11:54] eddyerburgh commented on #3
Should be fixed with this commit 66ca264d62765affb05b9bf3487bc243d0fcdef4 .

I've published a new version - 1.2.3 - let me know if it fixes your issue :smile:

[2017-01-26 14:00] andreasvirkus commented on #3
Cheers, the fix works fine!

[2017-01-26 14:11] #3 closed

[2017-02-02 18:56] JeffWeim opened #4 "Test for Applied Styles breaks if styles are not inlined, as example shows"
I noticed that the example test for testing applied styles ( [https://github.com/eddyerburgh/avoriaz-karma-mocha-example](url) ) is testing for inlined styles. But, if you were to move the styles into a `<style>` tag, using the single file Vue pattern, the test will break.

Bar.spec.js...
[code]

Bar.vue without inlined style...
[code]

edit: Looks like when `findMatchingVNodes()` executes, the Vn

[2017-02-02 19:43] eddyerburgh commented on #4
Hi thanks for the issue, I'll have a look and try for a fix tomorrow

[2017-02-02 22:32] eddyerburgh commented on #4
So I've changed the style method to return the computedStyles instead of just inline styles. I add the element to the DOM when style is called and run `getComputedStyle` on the node.

It's not ideal. `getComputedStyles` returns the entire style, so setting background: red results in a computed style of `rgb(255, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box`. Not an ideal solution.

[2017-02-03 13:05] eddyerburgh commented on #4
After sleeping on it, I've come up with a better solution.

I've deprecated style, since it is not reasonable to expect someone to assert style.color equals `rgb(255, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box` when your css rule is `color: red`.

As a solution I've added the [hasStyle](https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/hasStyle.html) method. This takes a

[2017-02-03 16:41] JeffWeim commented on #4
Thank you @eddyerburgh for the quick fix. Very much appreciated.

This is a moot point now, but just FYI. I had tried the fix in the `1.4.0` release, and when I had the style in a `<style></style>` tag within the `.vue` file, I was getting expected some HEX value, but actual was rgb(0, 0, 0). When I debugged it appeared that after the `insertBefore()` method, the element in question only had it's

[2017-02-03 17:46] eddyerburgh commented on #4
@JeffWeim that's expected behavior - and it's why I deprecated!

`getComputedStyles` returns the [resolved values](https://developer.mozilla.org/en-US/docs/Web/CSS/resolved_value). Setting `color: red` results in a computed value of `color: rgb(255, 0, 0)`(in most browsers).

The resolved value of properties with multiple properties, like `background: red`, adds the default options. So the compute

[2017-02-04 00:35] JeffWeim commented on #4
@eddyerburgh Thanks, that explanation makes more sense.

I can take a look and see if I can come up with something!

[2017-02-04 08:31] #4 closed

[2017-02-09 18:45] pablohpsilva opened #5 "Cant mount component with required: true props"
If I try to mount a component with:
[code]
It fails to create it, because the component requires props to have a value. If I mount it using:
[code]

The wrapper has the instance of my component created. Any help? =X

[2017-02-10 08:24] eddyerburgh commented on #5
Hi @pablohpsilva, I'm busy most of today but will take a look tomorrow and try to get a fix up asap

[2017-02-10 09:24] pablohpsilva commented on #5
No worries. Thanks for this amazing project!

[2017-02-10 19:44] eddyerburgh commented on #5
Hi @pablohpsilva. The example you provided creates an unmounted Vue component, which doesn't contain a vNode. Without a vNode most avoriaz methods won't work. If you try to call $mount on the Vue component, you will have the same problem as mounting it with avoriaz (an Error will be thrown).

What's the reason you want to mount a Component with required props without specifying the props when moun

[2017-02-13 19:57] pablohpsilva commented on #5
Hello @eddyerburgh :D
Let me give you a real example:

[code]
Like I shown before, I am passing the props the component requires, but its not working :(
Is there a way to make it work with avoriaz?

[2017-02-15 08:44] eddyerburgh commented on #5
Does this work:

[code]

[2017-02-15 11:13] pablohpsilva commented on #5
That's really weird... I can swear I tried that before and now everything worked out.
Wow... OK! That's awesome! Thank you for your time and amazing tool @eddyerburgh ! :D

[2017-02-15 11:13] #5 closed

[2017-02-28 12:57] roll opened #6 "Nested vNodes are out of sync"
Consider a component with template like this:

[code]

After `ready` change to `true` we will not be able to `wrapper.find('.ready')` because nested vNodes is not updated (it still will be `.not-ready` div). I was debugging it via `findAllVNodes`. This function is getting out-dated nested vNodes.

On the other hand `wrapper.html()` and `wrapper.text()` work correctly.

---

vue@2.1.10/2.2.1
avoria

[2017-03-02 21:05] eddyerburgh commented on #6
Hi, I'll have a look and try to get a fix up by the end of the weekend

[2017-03-03 06:26] roll commented on #6
Hi, great that's awesome!

Unfortunately I'm pretty new to vue.js so can't help with ideas of solving it.

Looking forward to actively use this library at Open Knowledge International (https://github.com/okfn). In my opinion testing library like this should be a vital part of the vue.js eco-system.

[2017-03-03 07:59] eddyerburgh commented on #6
How are you changing the data? Can you paste the component and the test here?

I wrote a test with the example you provided:

[code]

[code]

This obviously isn't ideal, so I will make a setData method that updates teh Vue instance after it has set data.

If you are setting the data differently (e.g. in a component method), I'll use your example as a test case and find a way to make it work with a

[2017-03-04 16:53] eddyerburgh commented on #6
Just release 1.7.0.

I've added a `setData` method.

The above code now looks like this:

[code]

[2017-03-06 07:42] roll commented on #6
@eddyerburgh
Sorry for the slow answer - it seems I have invest more time for reproducing my problem. Closing before I've got working "non working" test case.

---

I've added a setData method.

:tada:

[2017-03-06 07:42] #6 closed

[2017-03-16 19:25] eddyerburgh opened #10 "Karma tests not running on /test/unit/specs/mount/**/*.js"
Karma tests aren't being run on files in the mount directory of the avoriaz project.

I have tried editing the karma.conf to catch the files with a glob pattern ('../specs/**/*.{vue,js}'), but it was throwing errors.

I don't have much experience with Karma, so if anyone knows how to fix please open a PR!

[2017-03-20 15:59] ryanjgill opened #15 "Testing of computed properties"
When trying to test a computed property using AVA and with Avoriaz, the context of `this` is not what is expected. I'm trying to use a computed property that is based on some data from the component.

More details on [stackoverflow](http://stackoverflow.com/questions/42768924/test-computed-property-in-vue-js-using-ava-with-avoriaz).

[2017-03-21 08:29] eddyerburgh commented on #15
Three potential solutions here:

1. Remove computed, propsData and methods methods, since they return methods that are not bound to the vue instance, and encourage use of wrapper.vm
[code]
2. Bind all methods returned from computed(), methods() and propsData() to the vm instance. This means you couldn't do something like this:
[code]
That's not ideal.
3. Most radical - remove computed, methods and

[2017-03-24 17:46] eddyerburgh commented on #15
@atilacamurca @stephane thoughts on the above?

[2017-03-24 17:59] atilacamurca commented on #15
I agree with you, you should always keep it a wrapper.

[2017-03-27 12:13] eddyerburgh commented on #15
@ryanjgill I can't think of a good way of fixing this. Instead I've added a warning that points to this issue and suggest using wrapper.vm.methodName to access computed functions that use this.

[2017-03-27 13:27] ryanjgill commented on #15
@eddyerburgh Sounds good. Thanks for all the feedback guys!

[2017-03-27 20:24] #15 closed

[2017-03-27 22:46] matrunchyk commented on #10
Hmm it works for me. Do you have any error messages/screenshots/configs?

These are my configs.
[karma.conf.js](https://gist.github.com/matrunchyk/a79accea739f586074e005e0542200ea)
[index.js](https://gist.github.com/matrunchyk/31f910a35a2d149305af72c7aa113be2)

[2017-03-28 07:10] eddyerburgh commented on #10
Hi @matrunchyk.

To be clear - the karma tests aren't running in the avoriaz project.

I moved all the mount specs into their own directory - specs/mount . Karma isn't running any of the tests in the mount directory.

I tried using a global pattern to match the subdirectories in specs, but could not get it to work.

If you want to test, download avoriaz, ```yarn install``` and run ```yarn run test

[2017-03-28 12:52] icaioincau opened #21 "Support to slot nested"
Hi, did avoriaz support slot inside mounted component? How I can test a component with slots?

https://vuejs.org/v2/guide/components.html#Content-Distribution-with-Slots

[2017-03-28 14:36] eddyerburgh commented on #21
Hi, it should do. There's a test in avoriaz for normal slots:

SlotParent.vue:
[code]

SlotChild.vue:
[code]

find.spec.js
[code]

You can see the test here: https://github.com/eddyerburgh/avoriaz/blob/master/test/unit/specs/mount/find.spec.js

If you're having problems with nested slots, post the component here and I will get a fix up

[2017-03-28 16:29] iCaio commented on #21
Hi Eddy, my component is like this:

[code]

In the test, I want to add some HTML to the slot.

Actually  I am writing testing like this:

[code]

Is there a way to append new `<p>` using avoriaz? Or I still need to create a helper component like the Ctor for it?

PS: I am loving your project and changing some old test to use this one.

[2017-03-29 11:49] eddyerburgh commented on #21
@iCaio thanks

You should be able to add a p tag with mount:

[code]

I don't have much experience with

[2017-03-29 12:52] iCaio commented on #21
Thanks @eddyerburgh, I will close this issue.

[2017-03-30 08:24] jasperck commented on #15
I was writing tests for my vue component,
when I tried to test the part of props, I was doing something like this
[code]
Then I got this warning messages and found out the reason in the issue from the messages.
[code]
According to the comment https://github.com/eddyerburgh/avoriaz/issues/15#issuecomment-289435469, looks like there is still no solution for somethink like
[code]
am I right, guys?

[2017-03-30 08:27] eddyerburgh commented on #15
@jasperck Both of your examples should work. The warning message is only meant for users trying to call propsData that use this.

[2017-03-30 08:37] jasperck commented on #15
@eddyerburgh Thanks, I see, but actually it only worked for
[code]
but not
[code]
calling prop directly on `vm` just caused some error about getting `undefined`

[2017-03-30 11:43] eddyerburgh commented on #15
@jasperck Hi, sorry for the miselading message. I've updated and released a correct warning message in 1.9.4.

To access props with this bound the vue instance, you must run:

[code]

[2017-03-30 12:57] LinusBorg commented on #10
try this: `'../specs/mount/**/*.+(vue|js)'`

Karma uses minimatch.

Play with it here: https://runkit.com/linusborg/58dcffecc542910015f212f6

[2017-03-30 13:43] eddyerburgh commented on #10
Thanks @LinusBorg , worked great.

[2017-03-30 13:43] #10 closed

[2017-04-04 05:47] disitec opened #23 "import .vue files without extension"
it is possible to import .vue files without requiring the extension? I have a huge project and I never use the extension.

In webpack.config.js I have this line, but it seems not working

`extensions: ['.js', '.vue'],`

Thanks

[2017-04-04 06:17] eddyerburgh commented on #23
Yes it is possible, here's an example project that tests with avoriaz and doesn't require a .vue extension - https://github.com/eddyerburgh/avoriaz-karma-mocha-example?files=1

[2017-04-04 06:21] disitec commented on #23
I was using this repo eddyerburgh/avoriaz-mocha-example as starting point. I would use that instead.

Thanks!

[2017-04-04 07:11] #23 closed

[2017-04-10 19:05] matrunchyk opened #25 "hasStyle: incorrect child components check in case of nested CSS"
**UPD. The real description of the problem is [here](https://github.com/eddyerburgh/avoriaz/issues/25#issuecomment-293096890)**.

Hi guys, I've just noticed that `zIndex` doesn't work with `hasStyle`.

![Alt text](https://monosnap.com/file/VgLx5mfyH0u2KHIAKs8wsUoGDCJO0c.png)

I tried also `.hasStyle('z-index', '9999')`. Still `false`.

What am I doing wrong? Thanks.

[2017-04-10 19:25] eddyerburgh commented on #25
Hi @matrunchyk ,

hasStyle uses the same values as css, so you use `z-index` instead of the JavaScript version `zIndex`.

This should work:

[code]

[2017-04-10 21:54] matrunchyk commented on #25
As I mentioned, `.hasStyle('z-index', '9999')` doesn't work either.
And even more. It works very weird :)

![Alt text](https://monosnap.com/file/Tz10sx3Q4itJDXO3k2bCOojjxXoiW5.png)

[2017-04-10 22:25] matrunchyk commented on #25
Ok, so I figured out the problem.
My component's CSS has rules like that:

[code]
As you can see, that div would be red only within .MyComponent.

But [here](https://github.com/eddyerburgh/avoriaz/blob/master/src/Wrapper.js#L174) you move an element (div in this case) to the body. So now it's impossible to check a read style of the div.

I'd suggest to not moving that only particular div (or any o

[2017-04-11 07:00] eddyerburgh commented on #25
Thanks, I'll look into this tonight.

[2017-04-11 20:02] eddyerburgh commented on #25
Can you link me to the component and test?

[2017-04-11 20:50] matrunchyk commented on #25
@eddyerburgh Created a small repo with a component and a test https://github.com/matrunchyk/avoriaz-issue-25

[2017-04-12 19:53] matrunchyk commented on #25
Alright, thank you!

[2017-04-12 20:38] eddyerburgh commented on #25
Hi, so I've got a workaround. @ #26 means we can pass an option to attach the component to the DOM when mount is called.

When a component has been mounted to the DOM, hasStyle will check the node without having to attach it to the DOM.

The change to hasStyle hasn't been committed yet, but I'll update you when it's released. Should be by Saturday at the latest.

[2017-04-12 20:47] matrunchyk commented on #25
wow looks great! Thank you for all you guys do here!

[2017-04-13 09:25] pangxie1991 opened #27 "`find` returns vue component twice"
Vue: 2.1.8

here is the code
[code]

in Foo.spec.js
[code]

I try to debug this, and find that in `findAllVNodes`
[code]
`vNode.child._vnode.elm == vNode.elm` return true, so this element will push to array `nodes` twice

[2017-04-14 15:56] eddyerburgh commented on #27
Hey, this should be fixed in 1.11.0.

The problem was that Vue components have 2 vnodes. Before returning the vNodes, avoriaz checked for duplicated by comparing the vNodes with lodash.equals. Now it filters out vnodes that have the same element tag, which should remove any duplicates.

[2017-04-14 16:00] eddyerburgh commented on #25
Hi, this is fixed in 1.11.0.

You'll need to pass the option attachToDocument when you mount the component:

[code]

This attaches the component to the document, so `hasStyle` can check for properties passed by multiple selectors 😄

[2017-04-14 17:56] matrunchyk commented on #25
Beautiful, thank you! :)

[2017-04-14 17:56] #25 closed

[2017-04-15 05:18] pangxie1991 commented on #27
thank you! :)

[2017-04-15 05:22] #27 closed

[2017-04-20 14:25] FinucaneDesign opened #29 "[vuex] must call Vue.use(Vuex) Error"
I am not sure this is an issue with avoriaz, but this is the error I get when trying to use the [Vuex example](https://eddyerburgh.gitbooks.io/avoriaz/content/guides/using-with-vuex.html).  It doesn't seem to be working out of the box.

Error:

    ✗ "before each" hook for "calls store action actionInput when input value is input and an input even is fired"
	[vuex] must call Vue.use(Vuex) before c

[2017-04-20 15:54] FinucaneDesign commented on #29
Sorry, this isn't a avoriaz issue.  It is a webpack issue.  I was on webpack@2.1.0-beta.22 which is required for Laravel's elixir node module.  Webpack 2.1.0 breaks Vuex in testing for some reason.  If you get this error upgrade webpack, and don't use elixir for your webpack configuration because it's broken.

[2017-04-20 15:54] #29 closed

[2017-04-23 03:31] hank1732 opened #30 "Support for vue events"
I have got a component like the following one, and i need to test if it emits the right event .

Could this be supported?

[code]

[2017-04-24 10:29] keligijus opened #31 "Spy or stub methods before mount"
I've got some methods that are called on created, mounted events. I can't seem to be able to spy on them properly (or make stubs).

What I tried so far is, is spying on methods of pre mounted element and then checking if the spy was called. This doesn't work even when the actual method was called (tested by adding simple consolel.og)

Example:
[code]

Using Karma, Mocha and Sinon. I hope this is e

[2017-04-24 10:39] eddyerburgh commented on #31
Hi, can you post your component code?

[2017-04-24 10:45] keligijus commented on #31
Hi, sure. I've removed html and a few methods, as they do not seem to be relevant for this.

[code]

[2017-04-24 11:28] eddyerburgh commented on #31
This test works for me -

[code]
There must be something else going on here.

Can you link me to the full repo?

[2017-04-24 11:31] keligijus commented on #31
Thanks @eddyerburgh, you must be right. It's not an open repo, I'll have to make a copy of it without sensitive parts.

[2017-04-24 11:42] eddyerburgh commented on #30
You can test like this:

[code]
If people would like, I could add a method that returns the instance $emit function, although that would cause problems with `this`.

[2017-04-26 07:50] eddyerburgh commented on #30
@hank1732 Can you confirm this solution worked?

[2017-04-26 11:14] keligijus commented on #31
I've done more testing and rewriting of tests and am now leaning towards idea that it's a problem with Sinon (or how I use it).

Still, I've made a repo to test this out. If you get a chance, please have a look at it.

https://github.com/keligijus/vue-stub-demo/  test name __focuses on composer *issue on Github*__, line 156

I am also going to open an issue on Sinon with this.

[2017-04-28 02:06] ninechars opened #32 "Vue.use accepts a second 'options' argument"
Despite what https://vuejs.org/v2/api/#Vue-use says, Vue.use() accepts two parameters.

See spec here: https://github.com/vuejs/vue/blob/master/test/unit/features/global-api/use.spec.js

I found this while trying to initialise the excellent [vuex-i18n](https://github.com/dkfbasel/vuex-i18n) with `avoriaz.use(vuexI18n.plugin, store)`

[2017-04-28 07:30] eddyerburgh commented on #32
Closed with #33 merge 🎉

Thanks for the PR 😄

[2017-04-28 07:30] #32 closed

[2017-05-03 11:28] #30 closed

[2017-05-04 07:19] pearofducks commented on #30
Confirmed! For others in the future, the event payload is at `spy.args[0][1]`.

[2017-05-05 11:10] pearofducks commented on #21
I'm trying to test slots as well, this code doesn't seem to do anything (in terms of adding a p-tag to the slot):

[code]

If I then try to `wrapper.find('p')`, nothing is found.

[2017-05-05 11:32] eddyerburgh commented on #21
Can you post your component? I'll debug and see what's going on

[2017-05-05 11:39] pearofducks commented on #21
Invited you to https://github.com/pearofducks/lolsotemporary

Testing `src/components/Collapse.vue`
Using `test/Collapse.spec.js`

I'm actually using named slots, but even a single slot seems angry. :)

[2017-05-05 12:38] eddyerburgh commented on #21
Would you be able to get a smaller working example?

There are tests for slot components in avoriaz, so there must be something else going on here

If not I'll have a proper look over the weekend

[2017-05-05 12:44] icaioincau commented on #21
I have used slot and worked well:

[code]

But this week I can`t do the same with named slots :(

How can I fill a name slot in my IdField with this test?

[2017-05-05 12:58] pearofducks commented on #21
No problem, just pushed:

[code]

[2017-05-05 16:02] icaioincau commented on #21
@pearofducks Do you have an example of named slots?

[2017-05-05 16:53] pearofducks commented on #21
@icaioincau - not a working unit test of them! :)

[2017-05-05 18:29] eddyerburgh commented on #21
Just release v1.12.0, which adds support for a [slots option on mount](https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/) 🚀

For default slot behavior:

[code]

To match named slots:

[code]

It takes a component. So if you just want to test a simple template, you'll need to use `vue-template-compiler`:

[code]

In the test:

[code]

Sorry for the confusion in earlier comments. I don't us

[2017-05-05 19:49] pearofducks commented on #21
Confirmed working with named slots, thanks for the quick feature addition - that's awesome!

[2017-05-06 06:55] pearofducks commented on #21
Seems any call to `update()` breaks slots? Commenting out `simple.update()` works.

(I'm actually trying to get `v-if` and slots working in tests, but I got down to this test case not working)

[code]

[code]

[2017-05-07 08:12] eddyerburgh commented on #21
Thanks for the detailed bug report.

I went down a bit of a rabbit hole there. I thought I'd found a bug in Vue, cloned the repo and added a test ready for a PR.

Turns out that $slots.default should be an array of vNodes!

So this should work:

[code]

[2017-05-07 10:05] pearofducks commented on #21
Confirmed working on both default and named slots!

[2017-05-07 11:48] nerdyglasses opened #34 "Slots throw vNode array exception"
Hey @eddyerburgh,

great library man!
Just upgraded to your latest version while trying out the slots.

I am following the docs from what I understand but `addSlots.js` is throwing an exception complaining that `slots[key]` should be an `Array` of `vNodes`.

I don't understand how this should work when the `Foo` component in the docs is an Object?

Ref:
https://eddyerburgh.gitbooks.io/avoriaz/cont

[2017-05-07 12:31] eddyerburgh commented on #34
Hi, thanks 😁

The docs were outdated. I've just republished the updated version.

They should be passed as an array of v nodes.

They need to be an array because there are cases where you can have multiple default (unnamed) slots.

I'm actually thinking of supporting the option to pass them as the previous example in the docs does. I think it's a better design. What do you think?

[2017-05-07 15:49] nerdyglasses commented on #34
I don't even know how I can convert my component to an array of vNodes. Can you give me an example by what you mean?

[2017-05-07 15:59] eddyerburgh commented on #34
You just need to put your component in an array 😃

[code]

Sorry, I mean component, not vnode.

I'll update the docs to make it more clear.

[2017-05-07 18:45] #21 closed

[2017-05-07 18:57] eddyerburgh commented on #31
Hi @keligijus

Did you manage to solve your problem? I can have a look into it if not 😁

[2017-05-08 10:38] keligijus commented on #31
Hi @eddyerburgh! No I haven't. I had to find a workaround for this.

I've noticed that this happens on when the component has mixins. If I remove them, it goes away. Also, it seems that it may be a problem with Sinon.

I've also discovered, that the real problem is not being unable to sub a methot, but that the callCount and called properties of Sinon are not being calculated. So even when the stu

[2017-05-08 11:03] eddyerburgh commented on #31
Hmm, the problem could be with avoriaz.

I don't use mixins and there aren't any tests in the library.

Would you be able to create a simple example mixin that causes the stubs to break? Then I can add it as a test to avoriaz to ensure there are no problems handling mixins.

[2017-05-08 11:10] keligijus commented on #31
That's what I was told by the maintainer of Sinon. Here's [the issue on Sinon](https://github.com/sinonjs/sinon/issues/1385), I hope it explains the problem in more depth.

I've copied out my own code to make a case where it works without mixins, but fails when a mixin is added. This is the component: https://github.com/keligijus/vue-stub-demo/tree/trimmed/src/components/messages (has tests and th

[2017-05-08 12:10] eddyerburgh commented on #34
In [1.13.0](https://github.com/eddyerburgh/avoriaz/releases/tag/1.13.0), you can now pass slots.name a Component or an array of Components 🚀

[2017-05-08 12:10] #34 closed

[2017-05-08 12:18] eddyerburgh commented on #31
Hi, so I've got a failing test set up 🎉. This is definitely a problem with avoriaz/ Vue. I'm going to ave a deeper look into it tonight.

[2017-05-08 12:24] keligijus commented on #31
Hey @eddyerburgh, sounds awesome! 🎉

Thanks so much, I've been pulling my hair out for days now

[2017-05-08 17:15] icaioincau commented on #21
Guys you are awesome, thank you so much @eddyerburgh

[2017-05-08 17:20] eddyerburgh commented on #31
Success! 💥

This should be fixed in v[1.13.1](https://github.com/eddyerburgh/avoriaz/releases/tag/1.13.1).

Vue was cacheing the component, so instead of creating a new one with the correct stub, it was using an old version that had it's call count reset.

Now mount deletes any cached components before mounting 🚀

[2017-05-09 05:30] marcosmoura opened #35 "Error when <transition> is the tag wrapper"
I'm using AVA with Avoriaz. Both on latest version.
If the wrapper tag is a functional component, like `<transition>`, Avoriaz throws an error:
[code]

My component:
[code]

My test case:
[code]

What do you think that could be?

[2017-05-09 08:04] eddyerburgh commented on #35
Temporary solution is to run transition tests in the browser.

I've had a quick look at the error in Vue, in this function - https://github.com/vuejs/vue/blob/dev/dist/vue.common.js#L6570 - styles['animation Delay'] is undefined, so when the code tries to split undefined it errors.

I'm not sure why, but I think it's probably due to the stylesheet implementation/ some other function in browserEnv

[2017-05-09 11:48] keligijus commented on #31
Edd, you're a legend man‼️

Thanks so much, now the joy of coding is back :man_dancing:

[2017-05-09 13:38] #31 closed

[2017-05-09 16:59] hauptrolle opened #36 "Trigger change event on input field"
Hey,

is it possible to trigger an change event on an input field with a given value?

`input.simulate('change', 'value')` and `input.simulate('change', { target: 'value' })` doesn't work and I don't find anything in the docs.

Thanks in advance. ✌️

[2017-05-09 19:17] jraller commented on #36
The documentation does include `setData` https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/setData.html but I'm not sure if `setData` triggers a change event.

[code]

[2017-05-09 20:43] eddyerburgh commented on #36
Not yet, but it should do.

I'll look into adding this and update you when you can.

[2017-05-10 07:00] hauptrolle commented on #36
First of all, thank you both for your fast response!

@jraller: Your solution works, but if I change the data directly with setData, the change event is not necessary anymore because the data is already changed, and I don't test if the data changed when I only update the input.
Also I get an error when I use setData: `Cannot read property 'setValue' of undefined` But the stacktrace says this has t

[2017-05-10 07:13] eddyerburgh commented on #36
React has their own event system, separate from the DOM. This means they can let you edit event.target, because event isn't a real DOM Event. Enzyme uses the simulate method that react-test-addons exposes.

In avoriaz we send a real DOM event. For DOM events, target is read only. I'm not sure how to get around this.🤔

I briefly looked at simulant this morning - https://www.npmjs.com/package/simula

[2017-05-10 12:43] eddyerburgh commented on #36
I can't see a satisfactory way to fix this, apart from creating an entire event system - which would have lots of small bugs (events are complex!)

I've had success editing the DOM nodes value before calling simulate on it.

This test is passing:

[code]

Can you post the full component and test, so I can see what's going on?

[2017-05-13 10:55] eddyerburgh commented on #35
Transitions haven't been added to JSDOM yet - https://github.com/tmpvar/jsdom/issues/1781.

You'll need to run this in the browser

[2017-05-13 10:55] #35 closed

[2017-05-17 17:46] megawubs opened #41 "Test fails when <router-view></router-view> is an element inside the component"
For the following component the test fails but succeeds when i remove the `<router-view></router-view>`

#### Teams.vue
[code]

#### Teams.spec.js

[code]

#### The test result with the `<router-view>` inside the component:

![image](https://cloud.githubusercontent.com/assets/2302867/26168030/03e397c4-3b39-11e7-8258-652e1ce278e8.png)

#### The test result without the `<router-view>`
![image](https

[2017-05-17 17:56] Clauber-camilo opened #42 "Globals injector not overwrite $route object mount"
Hello guys,
I'm trying to test a method in a component and this method uses `this.$route.path` of the component. But I've got some problems to overwrite this object in test.

My component
[code]

Spec

[code]

But my original method in component returns an undefined object for the `$route`

<img width="197" alt="screen shot 2017-05-17 at 2 49 09 pm" src="https://cloud.githubusercontent.com/assets/

[2017-05-18 13:24] mcmillion commented on #41
Does it work if you pass a router into `mount` (import your router and then `mount(Teams, { router })`?

[2017-05-18 17:25] megawubs commented on #41
when I import my router I get the following error

![image](https://cloud.githubusercontent.com/assets/2302867/26215177/9f254ebe-3bff-11e7-9337-49c343c386a4.png)

[2017-05-18 17:38] eddyerburgh commented on #41
router-view is injected as a global component when you Vue.use() vue-router.

You need to register a mock global component:

[code]

[2017-05-18 17:43] megawubs commented on #41
thanks! That works 👍

[2017-05-18 17:47] #41 closed

[2017-05-18 20:14] eddyerburgh commented on #42
When you install `vue-router`, the `$route` and `$router` properties [are set globally with `defineProperty`](https://github.com/vuejs/vue-router/blob/4e3b377e2eb9fdb4bc097e428cb8dcfeff59c3bc/src/install.js#L12). Which means they can't be deleted.

I think you're calling `Vue.use(Router)` somewhere in your tests. If you don't call `Vue.use(Router)` in your tests, the `globals` option should work a

[2017-05-18 20:21] eddyerburgh commented on #36
@hauptrolle Have you found a way around this?

If not, could you post the component and test so I can test what's happening.

I've ran some tests, and setting the element value before simulating an event sends event.target.value as expected.

[2017-05-19 12:21] Clauber-camilo commented on #42
@eddyerburgh  Thank you man, that works.

In my index test file, I was importing my application bootstrap file. And in there, I had the `Vue.use(Router)` code line.

I was importing the bootstrap file, to make my coverage consider my hole application. 😄

I didn't find what you said to me in your docs. Maybe you could add it to the docs?
Thanks for your help.

Awesome library! 😄

[2017-05-19 12:33] eddyerburgh commented on #42
Thanks 😄 .

I will when I find the time. And I'd welcome a PR if you wanted to add anything to the docs!

[2017-05-19 18:27] hauptrolle commented on #36
@eddyerburgh Hey, sorry for the late response. It works as expected. 👍
It seems to be an issue in the "vue-material" package I was using ...

[2017-05-19 19:42] #36 closed

[2017-05-19 19:43] #42 closed

[2017-05-22 18:12] kevinleedrum opened #43 "How to test for elements within a transition"
Is there any way to test the rendering of an element that is contained in a transition?

[code]

The following test will fail on the above component unless I remove the transition.

[code]

Thanks a lot for avoriaz, by the way.  I've been using it for the past couple days, and I love it.

[2017-05-22 19:46] kevinleedrum commented on #43
Nevermind.  I see that jsdom hasn't been updated to support transitions.

[2017-05-22 19:46] #43 closed

[2017-05-22 19:51] eddyerburgh commented on #43
Yeah, it's a shame. You could run the tests in the browser with karma - https://github.com/eddyerburgh/avoriaz-karma-mocha-example

[2017-05-26 09:15] yyx990803 opened #44 "Vue should be made a peerDependency"
Using Vue as a nested dependency will potentially cause version mismatches between the copy of Vue used by the user's application code.

This would be a breaking change - I'm just keeping a record for the things that we might want to change before we ship the next version.

[2017-05-26 20:31] eddyerburgh commented on #44
I didn't consider this would be a breaking change and released in a minor in 1.14.0.

Not sure it's worth reverting and releasing another minor/ patch -  the damage is already done.

[2017-05-30 16:12] Korri opened #46 "div.is is not a function"
I can not call `is` on a wrapper made from `find`.

Here is the example more or less copy pasted from the doc:

[code]

[code]

And the error I get: `TypeError: div.is is not a function`

[2017-05-30 16:20] eddyerburgh commented on #46
Find returns an array, so you need to wrapper.find ('div')[0]

[2017-05-30 16:39] Korri commented on #46
Ho ok, so the issue is with the doc then :)

[2017-05-30 17:29] #46 closed

[2017-06-07 14:53] mattixittam opened #48 "Testing whether an event handler is called"
I'd like to test whether an event handler is called. I thought this would work, but it doesn't:
[code]
(handleInput is a method on the UiInput component, and is bound by @input="handleInput" on the input element)

It is called 0 times. If I call the handler directly instead of dispatching the event, the expect returns true. Seems the dispatch does not trigger the v-on binding somehow? Any idea why

[2017-06-07 14:57] eddyerburgh commented on #48
@mattixittam it should work if you add the spy to the component before you call `mount`:

[code]

[2017-06-07 15:22] mattixittam commented on #48
I've fixed it using a variation of your previous response:

[code]
This passes

[2017-06-07 15:23] #48 closed

[2017-06-07 18:28] nekosaur opened #49 "Functional components"
Is it possible to use avoriaz to test functional components? When I quickly tried it out earlier it gave me an error that the context parameter for the component's render function was undefined.

If I change the mounting to something like this
[code]
then I don't get the error message, but everything in `context.props` is undefined, like this.
[code]

[2017-06-07 18:35] eddyerburgh commented on #49
I actually didn't consider functional components. I can have a look at it over the next few days, or if you want to look into it a PR would be appreciated!

[2017-06-07 18:45] nekosaur commented on #49
I can continue to dig around, but I'd best mention that I'm not that knowledgeable about the internal workings of Vue so it might be more stumbling than digging.

[2017-06-07 18:48] eddyerburgh commented on #49
Ok Albert, don't worry - I'll look into it. I might be able to find a way
tomorrow lunch.

On Wed, Jun 7, 2017 at 7:45 PM, Albert Kaaman <notifications@github.com>
wrote:

[2017-06-08 11:07] timwis opened #50 "Sizzle throws error that window is not defined"
Hello, I'm trying to use avoriaz with ava using a very basic example, even more basic than your ava example, but it's throwing an error that `window is not defined`, referencing sizzle. Any suggestions?

[2017-06-08 11:10] eddyerburgh commented on #50
avoriaz needs a browser to run, like jsdom.

the avoriaz-ava example uses browserenv(which is a wrapper around jsdom) -

[code]

Then, in a file that runs before your tests -

[code]

Thanks for the issue, I'll add a check for window and throw a clearer error message 👍

[2017-06-08 11:16] timwis commented on #50
Ah! Thanks for the quick reply

[2017-06-08 11:16] #50 closed

[2017-06-08 17:55] jraller opened #51 "adding tests for tables built of multiple components"
I'd like advice about how best to add tests to this project to test the ability to mount a component who's root template element is one of the valid descendants of `<table>` such as '<thead>`, '<body>`, '<tfoot>`, '<tr>`, '<th>`, '<td>`.

Is there a better way than adding components to a new folder `test/resources/components/table` and adding the tests to the existing `mount.spec.js`?

The compone

[2017-06-08 20:09] jraller commented on #51
I added the tests and it appears that avoriaz is not the problem. If this a useful test I can submit a pull request for it.

[code]

[2017-06-08 21:15] eddyerburgh commented on #51
Hi, yes these are useful tests. I would really appreciate a PR!

[2017-06-08 22:51] jraller commented on #51
pull request sent. #52

[2017-06-08 22:51] #51 closed

[2017-06-09 14:48] paranoid-android opened #53 "Testing Prop Validator"
Hello,

First, thank you for creating avoriaz. While using it, I couldn't find a way to test component prop validators. For example, let's say that I have this component:

**myComponent.vue**
[code]

I tried created a test that looked like this:

**myComponent.spec.js**
[code]

Does avoriaz have a way to test property validators? If not, it seems like this would be a great addition to this project

[2017-06-09 15:06] eddyerburgh commented on #53
Have you tried passing the props in when you mount the component?

[code]

[2017-06-09 16:22] jraller commented on #51
Interestingly enough I found a quirk with the tests in my project. I'm using wallabyjs and
when testing a component that returns a row of a table I'm able to see that `wrapper.text()` is empty, and `wrapper.html()` is `` but the following lines return the correct values:

[code]

I suspect that this may have something to do with my having set up wallabyjs to use browser as the environment. Could i

[2017-06-09 16:31] eddyerburgh commented on #51
Yes it could well be, there are some differences between JSDOM and real browsers

[2017-06-12 08:10] mattixittam opened #54 "Event not being caught on child component?"
It seems that when I do a dispatch() on a vue-component that is a child element of the component I'm testing, the event is either not fired at all or not caught by the vue event handler.

If I replace the ui-navigation-level component with a simple div, the event is caught.

This is the component (stripped to bare functionality):

[code]
And the test:
[code]

[2017-06-12 11:38] eddyerburgh commented on #53
@paranoid-android did the test I posted above pass?

[2017-06-12 11:42] eddyerburgh commented on #49
Can you post the functional component that was throwing errors, and how you were passing it to mount?

Are you passing `props` or `propsData` inside `options`?

[2017-06-12 12:03] eddyerburgh commented on #54
Thanks for the bug report.

This should be fixed in v1.16.0.

Can you download from npm and confirm fix.

Note that dispatch has been deprecated in place of trigger (simple name change).

[2017-06-12 12:03] #44 closed

[2017-06-12 12:11] mattixittam commented on #54
Tested, but bug is still there unfortunately.

[2017-06-12 12:23] eddyerburgh commented on #54
In your test, can you try finding the component using the component:

[code]

[2017-06-12 12:27] mattixittam commented on #54
Yup, when finding using the component object, it works!

Hmm, found the (an) issue, I think. This returns _undefined_:

`wrapper.find('.ui-navigation-level')[0].isVueComponent`

[2017-06-12 12:29] eddyerburgh commented on #54
Is there an element with class `ui-navigation-level` in the NavigationLevel component?

[2017-06-12 12:38] mattixittam commented on #54
Yup

[2017-06-12 15:14] mattixittam opened #55 "Target not set on click event when finding by component"
In 1.16.0, when we try to test a click event on a child component found using the component object as the selector, the event does not get a target.

The component:
[code]
The test:
[code]

[2017-06-12 16:21] stellanhaglund opened #56 "ssr"
Hi I just tried out your module and it seems to work very good.
Though I have a question I just made my first setup for a vue ssr app, and I was wondering if doing the tests like this is the best way for a universal app, or do you know of a better way?

[2017-06-12 16:28] eddyerburgh commented on #56
You can unit test components with avoriaz the same as you would without ssr. ☺

You could add end to end tests with something like nightwatch that check the page is being returned correctly and behaves how you expect.

You could also add a test with something like supertest that checks you're returning html when you hit an endpoint.

[2017-06-12 16:36] stellanhaglund commented on #56
Yeah, that was what I was thinking.

What i'm thinking is that if I have to check that the correct html is sent from the endpoint, then basically I run the same tests in two places.

I don't know how it's usually done, but maybe test the components with avoriaz to see that they are acting correctly and then do the bigger stuff like logging in and such with nightwatch then?

[2017-06-12 16:59] eddyerburgh commented on #56
Yeah I'd test individual components with avoriaz, and the behavior of
multiple components with nightwatch :)

On Mon, Jun 12, 2017 at 5:36 PM, Stellan Haglund <notifications@github.com>
wrote:

[2017-06-12 17:00] stellanhaglund commented on #56
great thanks! :)

[2017-06-12 17:18] eddyerburgh commented on #54
Thinking about this - it isn't a bug with avoriaz.

Vue doesn't add event bindings added on components to the DOM.

If you want to add a click event listener, you need to do it inside the component on an element in the template. https://vuejs.org/v2/guide/events.html#Method-Event-Handlers

[2017-06-12 17:18] #54 closed

[2017-06-12 17:19] eddyerburgh commented on #54
wrapper.find('.ui-navigation-level')[0].isVueComponent

Vue components and DOM nodes are treated differently. If you use a DOM selector, it will return a vnode - not a vue instance.

[2017-06-12 17:20] eddyerburgh commented on #55
Sorry for my earlier hacky fix - it was incorrect to fix.

Adding an event binding to a vue template does not add it to the DOM element.

I'm reverting the behavior of trigger to previous behavior.

[2017-06-12 17:22] #55 closed

[2017-06-12 22:58] Antoniobk opened #57 "Error vNode: elm"
Using vue-cli(vue 1.x)
DeviceMaps.vue
[code]

DeviceMaps.spec.js
[code]
Return:
 undefined is not an object (evaluating 'vNode.elm')

[2017-06-13 05:37] eddyerburgh commented on #57
Avoriaz doesn't support vue 1. You can try vue-unit - https://github.com/callumacrae/vue-test

[2017-06-13 05:54] Antoniobk commented on #57
thanks!

[2017-06-13 07:23] #57 closed

[2017-06-13 07:23] #56 closed

[2017-06-13 11:39] paranoid-android commented on #53
It did. I just got a chance to try it. Thank you so much!

[2017-06-13 11:39] #53 closed

[2017-06-13 20:32] nekosaur commented on #49
Here's a very simple functional component that I was testing with.

[code]
I was mounting it like any other component.

[code]

It doesn't matter if I pass an options object with propsData or not, I always get this error.

[code]

[2017-06-14 04:57] chrisnicola opened #58 "Exceptions are logged instead of thrown"
Right now because of Vue's built-in error handling, exceptions are logged to `console.error` rather than thrown. During test running it will generally make more sense for these errors to fail the tests, but as they are just logged this doesn't happen.

As a stopgap solution `Vue.config.errorHandler` can be set at the top of every test, but this is a bit less than ideal and it would be better if th

[2017-06-14 05:29] eddyerburgh commented on #58
Good point. 👍

I'm busy the next few days but I'll try and get it done in the next week. Alternatively, I'll accept a PR if you want to contribute

[2017-06-14 14:26] chrisnicola commented on #58
Sure thing. I'm working on a "webpack-runner" that works similar to `bin/tape` but processes all the files in the glob through webpack first before running them. It works a bit better than `vue-node` as that only processes `.vue` files.

One other thing I'm noticing is that I'm getting the `productionTip` notice even though I know `avoriaz` sets that to false before mounting. You've probably been

[2017-06-14 14:28] eddyerburgh commented on #58
What version are you using?

[2017-06-14 14:42] chrisnicola commented on #58
Of Avoriaz? 1.15.0.

Vue: 2.3.3

[2017-06-14 14:52] chrisnicola commented on #58
I see, I just upgrade to 2.0.0 and it works now. I'll have that PR soon.

[2017-06-16 19:11] justincscott16 commented on #31
@eddyerburgh if you don't mind me pinging you for your opinion. I believe my issue is closely related with this but am unsure. I have a component that uses a mixin, and uses a method from that mixin on mount.

It looks like the test blows up because in the mixin method, it accesses uses the Vuex store, but is referencing the wrong `this`.

Not sure if this is related to this issue/fix at all, and

[2017-06-16 22:08] eddyerburgh commented on #31
It looks like `someData` is undefined.

If you pass $store as a global with avoriaz it should work fine:

[code]

Are you using Vue.use(Vuex) in your tests? If you are, then the problem is that there is no someData module. You'll need to pass the store on mount:

[code]

Here's a detailed guide on testing vuex - https://www.coding123.org/mock-vuex-in-vue-unit-tests/.

Unfortunately, Vuex adds $sto

[2017-06-16 22:18] justincscott16 commented on #31
@eddyerburgh right, I am creating a store with getters defined. I possibly missed defining the store in the state before mounting, but I hadn't needed to previously. I will give that a shot and see what happens. Also, thanks for the vuex tutorial, although that had been my savior a few times already 😅

[2017-06-19 16:09] jacklp opened #59 "[Vue warn]: Cannot find element: #app"
// PROBLEM

Have loved using your your app!

It is throwing me a Vue Warning '[Vue warn]: Cannot find element: #app'

This is because I am mounting this component in a unit test so it obviously won't run the usual main.js set up class. I was wondering if the mount function has a way of putting it into a #app div to stop this annoying warning message. (this feels like a nice to have feature as ever

[2017-06-19 23:20] crcatala opened #60 "Shallow render - bypass lifecycle hooks"
First off super awesome stuff on the latest 2.1.0 release and shallow rendering 🙌  Been looking forward to that and thanks for all the effort in creating avoriaz!

I just checked out the shallow rendering, and for a case where a child component has some lifecycle hook, it will still get executed during test. For example a child component dispatching a vuex action on mount:

[code]

This is expecte

[2017-06-20 04:33] eddyerburgh commented on #60
Aha - great catch! I hadn't considered this. I'll get a 2.1.1 release today where all lifecycle eveMrs are stubbed. Thanks for the issue 😊

[2017-06-20 06:03] eddyerburgh commented on #60
Also, is this expected? I think they should be stubbed by default

[2017-06-20 13:54] crcatala commented on #60
@eddyerburgh cool looking forward to it! stubbed by default would make sense

[2017-06-20 14:22] eddyerburgh commented on #60
This should be fixed in 2.1.1 👍

[2017-06-20 18:40] crcatala commented on #60
Verified 💯 on super quick fix with test coverage!

[2017-06-20 18:41] crcatala commented on #60
fixed in release 2.1.1
see c39ed7f37b7e90a6aff97781ca9537de55ef9de6

[2017-06-20 18:41] #60 closed

[2017-06-20 21:21] eddyerburgh commented on #59
Can you post a minimal failing example that doesn't have any dependencies?

Then I can use it as a test case and write a fix that will let you mount it to a custom element ( I think that should fix the issue).

It's important I have a minimal example to find out what's causing the error and how to fix 👍

[2017-06-21 05:33] disitec commented on #15
Hi.

I am trying to follow the steps in the warning in order to check a computed but I get an error
`TypeError: wrapper.vm.welcomeText is not a function`

and this is the code

`t.is(wrapper.vm.welcomeText(), 'INTRODUCTION TEXT HERE');`

Of course, the computed exists in the component.

[2017-06-21 05:49] disitec opened #61 "shallow does not reach created hook"
Is this an expected behaviour? In that case? How can I stub child component without loosing the execution of created hook?

Thank you

[2017-06-21 05:52] eddyerburgh commented on #15
@disitec computed properties are called and the result saved to the vm.

[code]

Should pass

[2017-06-21 05:59] eddyerburgh commented on #61
I added this yesterday. I think it should be expected behavior. There currently isn't a way, but I can add an option to pass to shallow if you have a good use case.

My thoughts were that if you are unit testing a component in isolation, you shouldn't care what a child component does. You can have a separate test for the component with the created event to check it is behaving as expected.

But li

[2017-06-21 06:12] disitec commented on #61
Of course, I allways test component in isolation. In my case I want to test only one component but stubbing the child components inside it.

Is in this main component when created is never reached. I need to call some api (mocking it in my case) when created. But it is never mocked.

Why created hook does not exists in this case?

[2017-06-21 06:13] disitec commented on #15
Yep, It works.

So, I think you shuould update the warning without parenthesis ;)

Thanks!

[2017-06-21 06:27] eddyerburgh commented on #15
Fancy making a PR? 😉

[2017-06-21 06:29] eddyerburgh commented on #61
Oh sorry, I misunderstood. So created on the component you're testing is being stubbed? This isn't expected behavior, it's a bug. I'll look into it

[2017-06-21 07:15] eddyerburgh commented on #61
Bug should be fixed in 2.1.2 👍

[2017-06-21 07:24] disitec commented on #61
Thank you. Awesome work!

[2017-06-21 07:25] disitec commented on #15
Here you have.

https://github.com/eddyerburgh/avoriaz/pull/63

[2017-06-21 07:28] #61 closed

[2017-06-21 07:41] MJ111 opened #64 "component's watch function not working"
component code:
[code]

test code:
[code]
I think watch function is not working in avoriaz. Do you have any workaround for this?

[2017-06-21 12:19] eddyerburgh commented on #64
This should be fixed in 2.1.3

[2017-06-23 07:16] #64 closed

[2017-06-23 07:17] eddyerburgh commented on #58
Hi @chrisnicola , are you still planning a PR for this?

[2017-06-23 14:21] chrisnicola commented on #58
Hey Eddy, sorry I got busy getting some other infrastructure in place for our first Vue apps. I am and I'll try to do that today or this weekend.

[2017-06-23 15:31] kevinleedrum opened #66 "Have to trigger click twice for click handler to be called"
We're having an issue with testing a button click handler.  I made a simple test component (below) as an example.  The stubbed `wrapper.vm.clickHandler` is only called if we trigger a click *twice*.  We have not had this problem with `change` events; only the `click` event.  I have not tested other elements besides buttons.

[code]

[code]

[2017-06-23 15:50] mcmillion opened #67 "Using both `shallow` and `mount` in a test causes everything to shallow render"
First of all, thanks for adding `shallow`. This is totally cleaning up our tests!

I noticed today (and maybe this is by design, but I wanted to check to make sure), that if you include both `mount` and `shallow` in a single spec, `shallow` seems to take over.

While we've been using `shallow` in our new tests for our presentation components, we utilize `vue-svg-loader` for loading SVGs and using

[2017-06-23 17:39] eddyerburgh commented on #67
Hi, that was indeed a bug.

Should be fixed in 2.2.1 👍

[2017-06-23 17:40] eddyerburgh commented on #66
Thanks for the bug report

This should be fixed in 2.2.1 👍

[2017-06-24 06:10] #67 closed

[2017-06-24 06:10] #66 closed

[2017-06-25 12:31] nekosaur commented on #49
Thank you! I've tested it and it works fine so far 👍

[2017-06-25 12:31] #49 closed

[2017-06-26 20:01] TheJaredWilcurt opened #69 "Readme"
https://github.com/eddyerburgh/avoriaz#assert-style-is-rendered

That section doesn't make sense. Why are you creating a `button` var and then never using it.

[2017-06-26 20:14] eddyerburgh commented on #69
Good point!

I've edited it to make more sense 😄

[2017-06-26 20:19] #69 closed

[2017-06-28 08:58] disitec opened #70 "Router is not mounted after upgrading to 2.4.0"
Hi,

I am getting errors in code that was working in previous versions. It could be a bug or I need to mount the component in a different way now?

[code]

[2017-06-28 16:32] eddyerburgh commented on #70
This sounds like a bug, there shouldn't have been any breaking changes in a minor version.

Can you post the component and full test for me to debug?

[2017-06-29 05:50] jackysee opened #71 "Cannot locate component appended to vm.$root.$el"
Say there is a component called `dateInput`
[code]

The `DatePicker` itself is attached to root element
[code]
When testing, I need to set `attachToDocument:true` for it to work
[code]
I think that the `DatePicker` is appended to the node in memory?

[2017-06-29 10:01] PMK opened #72 "avoriaz cannot upgrade jsdom to ^11.0.0"
Hi,

For my new project I used this project along with jsdom version 11 and results in an error. When using the jsdom version what avoriaz supports (^9.9.1), the error will not occur. Sadly, you cannot use avorias with Nuxt because Nuxt uses [version 11](https://github.com/nuxt/nuxt.js/blob/dev/package.json#L140).

I'm using node 8.1.2 and npm 5.0.4.
Note: I'm using AVA version 0.19.1 for my tests

[2017-06-29 17:33] eddyerburgh commented on #71
I never considered this use case and I'm not sure how to solve it.

Short term, I suggest testing dateInput using `shallow`.

[code]
This isn't a good solution, and I'm sorry but I'm not sure how to fix the problem. I'll detail it below.

[2017-06-29 18:22] eddyerburgh commented on #71
The problem is that attachToDocument creates a div and passes that as the root of the component you are mounting. When the component is rendered it runs `Datepicker`'s mounted method and attaches it to the div we made (vm.$root.$el). Shortly after, the root components $el is updated with the result of the render function. The original div that has `Datepicker` attached is then cut off, and is not

[2017-06-29 19:23] eddyerburgh commented on #72
How are you loading JSDOM?

I used your component and test in an avoriaz-ava example using JSDOM 11 and it's passing - https://github.com/eddyerburgh/avoriaz-ava-example/tree/jsdom-11-example

[2017-06-29 19:30] jackysee commented on #71
Currently I would use `<DatePicker ref='datepicker' />` attribute  so that I can refer to it at `this.$refs.datePicker` and only test the props passing and event emit part. In this case  `attachToDocument` can be `false`.

For `DatePicker` create an individual test, create a clone of the component and delete the `mounted` function before test.

[2017-06-30 06:19] jackysee opened #73 "Watcher of date type being triggered when dispatch/trigger"
Given a following component (Bar.vue):
[code]

And this test
[code]

The test for `dateValue2 after` would fail. I found that the `dispatch('click')` has somehow triggered the watcher `dateValue` thus re-assign the value.

This test would pass for version `1.14.0`, but fail at current `2.4.0`.

I have created the test here:
https://github.com/jackysee/avoriaz-tape-example

[2017-06-30 06:46] jackysee commented on #73
The case is still the same if I switch the dispatch to:
[code]

[2017-06-30 06:59] eddyerburgh commented on #73
Yeah, `update` runs all the watchers, and `trigger` runs update

I'll have to think about this over the weekend 😀

[2017-06-30 07:12] jackysee commented on #73
I need to have `shallow` for other case. I now just check the vm values.
[code]

[2017-06-30 07:16] eddyerburgh commented on #73
Ok, I'm going to fix this issue.

I'm going to remove running the watchers from update and only use it in `setProps` and `setData`, which is where it is needed. I'll only run watchers for values that have been mutated by `setProps` and `setData`.

[2017-06-30 07:34] eddyerburgh commented on #73
This should be fixed in 2.4.1

[2017-06-30 08:32] jackysee commented on #43
I'm using karma, but I cannot get the transition to work in unit test. Anything I miss?

vue file:
[code]

Test
[code]
Here the 2nd expect would fail.

[2017-06-30 08:48] jackysee commented on #43
Got it, have to use `Vue.nextTick` here.

[code]

[2017-06-30 08:52] eddyerburgh commented on #43
Great solution, thanks @jackysee

[2017-06-30 11:15] #73 closed

[2017-06-30 11:16] eddyerburgh commented on #70
@disitec I'm keen to get this fixed, can you provide the component or a failing test?

[2017-06-30 11:17] disitec commented on #70
Sorry for the delay. I am a bit busy, I'll try to reproduce it again and give you more information.

Thanks

[2017-06-30 11:19] eddyerburgh commented on #70
No need to apologize 😊

I appreciate the help

[2017-07-03 13:45] rmartins90 commented on #60
related to this: shallow seems to behave like mount should and vice-versa, is this possible? This happens for example on a child component that has watchers - if I use mount I get no errors related to child component, while using shallow return me errors related to that child watchers. Also, the same behaviour on router-link component. Am I missing something?

I'm using latest version (2.4.1). Tha

[2017-07-03 13:49] eddyerburgh commented on #60
@rmartins90 This could be a bug.

Could you please open a new issue with details of the component, test and errors. I'll see if I can fix the bug

[2017-07-03 13:50] rmartins90 commented on #60
Sure. Will do

[2017-07-03 14:01] rmartins90 opened #75 "Mount and shallow behaviour"
Start to ask if you can detail the shallow and mount differences in documentation, it would be great to know exactly what to expect.

I'm getting what I think could be a bug, or something that I'm missing. For the given test, component and result:

**Component:**

    <template>
        <div>
            <popover ref="popover" :triggerElements="['.input']"></popover>
        </div>
    </template>

[2017-07-03 14:24] eddyerburgh commented on #75
`shallow` stubs every child components render functions and lifecycle events, and then mounts it.

[code]

will call `mount` with this:
[code]

Maybe `shallow` should stub other child properties? It's good to keep props so you can check the child component has props, but there might be other properties on the child component that cause errors like the one you're seeing.

[2017-07-03 14:26] rmartins90 commented on #75
Maybe it should stub watchers then? What about router-link component? If I use shallow router-link still requires router.resolve, shouldn't it be stubbed?

[2017-07-03 14:30] eddyerburgh commented on #75
@rmartins90 Yes I think you're right

Maybe the default behavior should be to return a component with the minimal props required to identify it and test that it's been passed the correct `propsData`.

[2017-07-03 14:46] bmfteixeira commented on #75
@eddyerburgh I agree with @rmartins90. The shallow should allow us to skip all the dependencies of a child component, only testing high-level parent components.

[2017-07-03 14:47] eddyerburgh commented on #75
Yep, I'll add this tonight

[2017-07-03 21:14] eddyerburgh commented on #75
Ok, I've fixed this in 2.4.2

[2017-07-03 22:17] rmartins90 commented on #75
Thanks @eddyerburgh for the quick fix. Congrats on this library.

[2017-07-04 08:15] bmfteixeira commented on #75
Thanks @eddyerburgh. Very well done. 👍

[2017-07-04 11:41] PMK commented on #72
Thanks for the demo you provided.
I do not know what the problem was, but it works without errors. I updated jsdom to 11.1.0 and Avoriaz to 2.4.2, I removed the complete node_modules directory and it seems working.

[2017-07-04 11:41] #72 closed

[2017-07-04 13:04] rmartins90 commented on #75
@eddyerburgh this still doesn't work for components that are not specified on components dict. For example, router-link still tries to user resolve function (that is on router undefined object) if I use shallow. I think shallow should mock this components as well.

[2017-07-04 13:17] eddyerburgh commented on #75
Global components?

I'll have a look into how best do this.

[2017-07-04 13:25] rmartins90 commented on #75
Yes, like <router-link> component. I think every child component should be ignored in order to be able to do a more unitary test for a component, don't you agree? I don't think it'll be easy. By now I'm mocking them using your trick from https://github.com/eddyerburgh/avoriaz/issues/41 but I think it'll be more elegant if avoriaz shallow function could deal with this global components.

[2017-07-04 13:27] eddyerburgh commented on #75
@rmartins90 yeah I agree, I'll implement it tomorrow 👍

[2017-07-04 13:53] Akryum opened #76 "Ability to test Vue events"
It would be nice to have a special option for mount (and shallow) to add event listeners to the tested component. This way, we can easily test that our events listeners are emitted.

Currently, I have to do something like this:

[code]

What it could look like:

[code]

[2017-07-04 14:05] disitec commented on #70
I must say I can't reproduce it anymore. Maybe was a silly mistake in my side or maybe you fix it with another issue.

I close this. :octocat:

[2017-07-04 17:04] eddyerburgh commented on #75
@rmartins90 just to be clear, do you mean `shallow` should overwrite any global component that has already been rendered. Or do you mean `shallow` should stub every component referenced inside a template?

The first one I can implement tonight. The second one will take much longer.

I'm not even sure if it's doable without being prone to errors.

I think this will probably always be the behavior f

[2017-07-04 18:28] disitec opened #77 "Shallow transitions"
Is there a way to bypass this exception when component has transitions?

[code]

[2017-07-04 19:45] eddyerburgh commented on #77
JSDOM doesn't support transitions yet.

Adding this code will stop the error:

[code]

[2017-07-04 19:49] disitec commented on #77
No problem with the transition test, but how about the test of the tests that were passing before adding the transition wrapper? There is no way to override the transition component to fake its behavior? I mean, tender the slot inside a normal div?

[2017-07-04 21:05] eddyerburgh commented on #77
Not at the moment, but there should be.

I'll have a think about it

[2017-07-05 05:22] #70 closed

[2017-07-05 07:53] disitec commented on #77
I could make it work with this aproach

[code]

If you want I may prepare some PR

[2017-07-05 08:08] eddyerburgh commented on #77
Yes, that's a great idea! I'd really appreciate a PR

Could you make it a function called `stubTransitions`.

It should take a Vue instance as an optional argument, and default to using the global instance. That way you avoid stubbing transitions for all tests by passing it a custom instance. You can see a similar implementation [in mount](https://github.com/eddyerburgh/avoriaz/blob/master/src/mou

[2017-07-05 12:48] rmartins90 commented on #75
@eddyerburgh You're right, the interesting feature would be stub every component referenced inside a template, but as I said previously it's not easy to implement. Your mock component solution works just fine from now.

[2017-07-06 19:30] eddyerburgh commented on #77
@disitec are you planning on doing this in a PR? I'll work on it some time if you're unable to.

[2017-07-06 19:53] disitec commented on #77
I am a bit busy this days. I'll try doing the PR tomorrow. Anyways is up to you if you have the time!

[2017-07-06 19:55] eddyerburgh commented on #77
I'm also busy 😛

I was thinking of working on it next week, but if you can do it before then that would be awesome!

[2017-07-07 11:21] disitec commented on #77
I'm also trying to stub transition-group but I am a bit stucked in this warning

[code]

The implementation is the same as with transition:

[code]

At this point, children is undefined. Maybe you can help me in the way to pass an empty array to the constructor to bypass the warning.

[code]

[2017-07-07 12:17] rmartins90 commented on #76
Yes, that would be a great improvemente! I can't test clicks on child components.

[2017-07-07 16:58] chrisnicola opened #80 "Can't stub $router in unit tests"
So I'm writing a test that does something like:

[code]

And while the `$store` stub is available on `this` in the component the `$router` one is not set. I'm assuming there is some special behaviour with the `$router` global?

This is a unit test so I'm not installing `vue-router` or `vuex` in the tests, I'm stubbing them out using Sinon instead.

[2017-07-07 19:21] eddyerburgh commented on #80
Are you sure you're not calling `Vue.use (VueRouter)` anywhere when you run your tests?

If you're using the vue webpage template, I'm the files are parsed by karma which causes vue router to be installed. This is my edited version of the file https://github.com/eddyerburgh/stub-route-in-vue-unit-tests/blob/master/test/unit/index.js. the comments weren't changed, so they are a bit confusing. In th

[2017-07-07 19:21] eddyerburgh commented on #80
Accidentally closed (I'm  on mobile) 🙃

[2017-07-07 21:13] chrisnicola commented on #80
Interestingly enough, I'm actually running it as an isolated unit test. So no Karma, or PhantomJS, just `browserEnv()` and `tape`. `this.$router` is actually undefined in the tests.

[2017-07-07 21:24] eddyerburgh commented on #80
Would you be able to post a minimal reproduction of the test and component?

[2017-07-08 03:17] chrisnicola commented on #80
Yeah I'll try to get something together next week.

[2017-07-09 18:54] disitec commented on #77
Hello @eddyerburgh I was writting some tests to reproduce the issue in your repo but it didn't happen in mocha. How should i proceed to implement this PR?

P.S. I am a bit newby contributing :). I do my best.

[2017-07-09 20:18] eddyerburgh commented on #77
Are you using the same code that threw the error you posted in this issue?

[2017-07-09 20:23] disitec commented on #77
Yes, a reproduction of that. I wrap a v-if / else into a transition. AVA throws the split of undefined error (in my project). Mocha does not.

[2017-07-09 20:27] eddyerburgh commented on #59
HI @jacklp, I'm closing this issue but happy to reopen if you can provide more detail.

What I think is happening is that you were trying to test a component that was had the `$el` option (aka the root component) set to `'#app'`. As this doesn't exist on the DOM you were testing on, it threw an error.

This could be solved by adding an element with an id of app to the body.

I don't think any feat

[2017-07-09 20:27] #59 closed

[2017-07-09 20:33] eddyerburgh commented on #77
I think the difference will be the environment that they are ran in, not the test runner that's used.

I managed to reproduce the same error a few months ago in mocha, with the `test:unit` script.

Does the test pass when you run `npm run test:unit`?

[2017-07-09 20:39] disitec commented on #77
Yep. That's the one I'm using. I get green.

[2017-07-10 07:42] eddyerburgh commented on #77
What version of JSDOM were you using in the project that threw the original error?

[2017-07-10 07:44] disitec commented on #77
9.12.0

[2017-07-10 07:45] eddyerburgh commented on #77
Can you post the test and the component?

[2017-07-10 08:07] disitec commented on #77
I created a gist with the raw version of them. Please let me know when you have the code in order to delete it. It is a commercial App.

https://gist.github.com/disitec/cc84c49bff39d27dbd7ad3f2bc762584

Thanks!

[2017-07-10 08:18] eddyerburgh commented on #77
Which test was failing?

[2017-07-10 08:19] disitec commented on #77
All tests are passing. But throw warnings in console that I am triying to avoid. Please, tweak the component if you get errors due to the missing Question.vue and mixin.

[2017-07-10 08:26] eddyerburgh commented on #77
Ok, I've copied the gist so you can delete.

I'll have to look at this later tonight - I'm pretty busy today. I also can't get a failing test in avoriaz, but am unsure why as this was previously a problem 😕

[2017-07-10 16:57] gallifreyer opened #81 "#trigger() method not support IE10/IE9?"
I use browser stack test IE browser.
When I use
`wrapper.find('.classname')[0].trigger('click')`
Get Error Message: `Object doesn't support this action`.

I want to know how to fix it?

[2017-07-10 21:04] eddyerburgh commented on #81
I won't have time to look at this until next week, but I think it can be fixed by adding an event polyfill - https://stackoverflow.com/questions/26596123/internet-explorer-9-10-11-event-constructor-doesnt-work

If you wanted to make a PR, it would be greatly appreciated 😇

[2017-07-11 02:59] jackysee opened #82 "Watcher only update self value"
Given this component:

[code]

When `wrapper.setProps({ show: true, value: 'abc' })`, the console log shows `show watch : true,`., showing that `value` is not the updated one.

[2017-07-12 06:42] eddyerburgh commented on #75
`shallow` now stubs every globally registered in 2.4.3

[2017-07-12 19:12] jwilkey commented on #75
I am using `shallow` to render my subject component which contains a child `Modal`, this Modal contains a slot in which subject places another component, we'll say `MyContent`. MyContent has props that subject is providing, but I don't seem to be able to test this because `Modal` is not rendered as per the stubbing of it's `render` function. How can I use `shallow` and test that subject is correct

[2017-07-12 20:23] eddyerburgh commented on #75
I think you can use mount for this, unless you think it's a bug. If it's a bug, can you post the component and test?

[2017-07-13 13:12] jwilkey commented on #75
Yes, I could use mount, but I have another complex child component that is a sibling of my `Modal`, so I don't want to render that. 2 options I see may be: (1) somehow provide a test interface to assert slots were configured properly, even if they are not actually rendered, or (2) in `mount` options add a .blacklist [Component], or in `shallow` options add .whitelist [Component] which would condit

[2017-07-13 13:20] eddyerburgh commented on #75
The option you've described where you can blacklist components sounds like the `stub` option that
exits in `vue-test-utils` (it's the currently unreleased official test library). You can pass it a template string, and it will replace the component you named with a stub:

const wrapper = mount(Component, { stub: { ComplexComponent: '<div />' } })

If I find the time in the next few weeks I will add

[2017-07-14 19:10] justincscott16 opened #84 "Changing values and triggering inputs"
I am currently on `avoriaz 1.13.1` and use `simulate()` pretty regularly in my Vue Component tests as so:

[code]

These specs work correctly and pass.

As I upgraded to `avoriaz 2.4.3`, and I change the deprecated `simulate()` to `trigger()`, the specs fail. I also noticed that if I console log `searchInput.element`, it will log `HTMLInputElement { _prevClass: '', _value: '' }`, and if I console

[2017-07-15 02:39] chrisnicola commented on #80
Sorry I haven't had time to get back into this. I'm definitely having a vue-router related problem. I'm also unable to stub `$route`. I don't have this problem with any other global variable name. I can call it `route` and it works.

As far as I know, I'm not installing `vue-router` as the only files that are compiled are test files. However it's possible that is happening, but the result of `wrap

[2017-07-15 02:40] chrisnicola commented on #80
Bah, I just realized I am installing the router at some point in the testing because I have tests that test the router and I'm using tape, so the environment is not entirely reset between tests.

I'll have to play with this a bit more. I wonder if Avoriaz could isolate itself from the global `Vue` but I'm guessing that would be hard.

[2017-07-15 02:48] chrisnicola commented on #80
Ok I've ensured I don't install `Router` now I get errors about `router-link` not being registered.

[2017-07-15 03:02] chrisnicola commented on #80
Ok I read the other issues and figured it out. I need to register a component stub. No problem. I get it now.

[2017-07-15 08:47] eddyerburgh commented on #80
I'll write a guide for this at some point

[2017-07-15 08:47] #80 closed

[2017-07-15 19:46] chrisnicola opened #85 "Feature Request: ComponentStub helper"
I've added this helper in my own codebase, but if useful to this project I'm happy to submit a PR. The code is below.

[code]

Usage is simple:

[code]

As a small bonus it provides stub telemetry for the render function.

[2017-07-15 20:47] eddyerburgh commented on #85
@chrisnicola this looks good, although I would call it `stubComponents` rather than `componentStub`, to indicate that it's stubbing the components of Component.

I'd be happy to accept a PR for this feature, if you add it to the docs, and includes tests in your PR

Right now I'm in the process of writing the official `vue-test-utils` library, which is nearly complete. I've added a `stub` option to

[2017-07-15 21:27] chrisnicola commented on #85
Sorry you're right on the name, initially I named it based on just exporting single stub, but realized that was kind of verbose in the tests and I could add a nice helper function. Failed to rename it afterwards.

I really like that API for `vue-test-utils` looking forward to using it soon. Can I suggest that `<div />` be a default, so if you simply pass an array of component names it will work an

[2017-07-15 21:32] eddyerburgh commented on #85
@chrisnicola yes good idea on the array for `options.stub`. I'll add it to the todo

[2017-07-16 08:32] eddyerburgh commented on #82
This should be fixed in 2.4.4 👍

[2017-07-17 23:24] lancetharper opened #87 "$attrs and inheritAttrs"
With Vue 2.4 inheritAttrs has been added and I'm trying to figure out how to get tests to make sure that it works correctly. Here is a simple example of what I'm trying to do:

Component template:
[code]

Great, now attributes not listed as props go to the input as expected when I use it.

Is there any way to actually add other attributes in the mount function to test it? That way if v-bind="$attr

[2017-07-18 16:35] eddyerburgh commented on #87
I've added this in 2.5.0

You can make attr available on the vm using the `attrs` option.

[code]

Can you post a component and a test so I can see how you're using it?

[2017-07-18 16:48] lancetharper commented on #87
Seems to be mostly working. It would be nice if it worked like the `domProps` and `attrs` in the [render function data object](https://vuejs.org/v2/guide/render-function.html#The-Data-Object-In-Depth). But I don't know how hard/possible that is for you.

Here is the component I'm working on:
https://github.com/rei/rei-cedar/blob/feature/vue-update/src/components/input/cdrInput.vue

Here are the te

[2017-07-18 16:59] eddyerburgh commented on #87
Ah, yes that's a good point. Right now I'm just adding it on to the vm directly before mounting.

I'll add it for you at some point over the next few days 😄

[2017-07-19 08:27] ndabAP commented on #85
@eddyerburgh, so, this library will soon be deprecated?

[2017-07-19 08:29] eddyerburgh commented on #85
@ndabAP no I'll continue to support and evolve it, but most of my time will be spent on vue-test-utils

[2017-07-19 11:35] afontcu commented on #41
Hi there!

Sorry to reopen the issue but I'm failing to apply the code snippets you provided in the answers.

This is my current configuration for the test:

[code]

In my `Fixed.vue` component I'm using `this.$route.name` in a computed property, if it's of any help.

What am I doing wrong? I assumed your last answer (to mock the component) was right so I removed the `Vue.use(VueRouter)` stuff. Sh

[2017-07-19 11:54] eddyerburgh commented on #41
Hi @afontcu . The return of shallow is actually a wrapper around a vm. You can access the `vm` with `wrapper.vm`

[code]
But you need to register the component before you call shallow:

[code]

Let me know if that works (I haven't tested so there may be an error :P

[2017-07-19 12:14] afontcu commented on #41
Hi Edd,

first of all thanks for the quick response.

I switched both lines (the register and the shallow call) but it stills shows an error :(

[code]

(Taking the screenshot I realized that the tests actually shows green, but it still outputs console errors. I checked and happened the same when both lines were in the wrong order, so it's not new).

Thanks again!

[2017-07-19 12:21] eddyerburgh commented on #41
It looks like an error in fixed on line 155.

Are you trying to access a 'name' prop of an undefined object? Maybe you aren't passing in propsData to the component? It might be a problem with avoriaz, or the code I gave you, but check Fixed.vue line 155

[2017-07-19 12:28] afontcu commented on #41
Hi!

The only `.name` access I'm doing in that component is in `this.$route.name`. The undefined in my test object is precisely `this.$route`, which makes sense. It works fine when running the app.

If I delete the line my test passes without console errors, so I'm quite sure the issue is about the route object.

The thing is - I'm doing something similar to this (not exactly, but for the sake of

[2017-07-19 12:31] eddyerburgh commented on #41
You can mock `$route` 😄

[code]

`globals` adds properties to the Vue prototype, so they are accessible inside each `vm`.

[2017-07-19 12:35] afontcu commented on #41
That did the trick! 🎉

Thanks man. I assumed `this.$route` and `<router-view>` would be solved using the same technique.

Thanks for your patience!

[2017-07-20 16:15] willypt opened #88 "Testing Keep-Alive with avoriaz doesn't work"
I'm referring to [this blob](https://github.com/vuejs/vue/blob/51c595a7cef24e12094f66e0f8934fa41edde07d/test/unit/features/component/component-keep-alive.spec.js)  when creating unit test for keep alive component.

This test without avoriaz works. It calls the `activated` hook in the TargetComponent
<details><summary>Vanilla Vue Unit Test</summary>

[code]
</details>

However, after trying to recr

[2017-07-20 17:19] willypt commented on #88
Is it confirmed as bug, @eddyerburgh?
Do you need any info to look further into this issue?
I'll try to setup a repro repo by tomorrow if possible.

Thanks a lot! 👍

[2017-07-20 17:21] eddyerburgh commented on #88
@willypt no - I was a bit trigger happy with the label 😬

I'm trying to replicate now.

[2017-07-20 17:47] eddyerburgh commented on #88
Try this:

details><summary>Avoriaz Unit Test</summary>

[code]

</details>

----

[2017-07-20 18:46] willypt commented on #88
Modifying my code to match your code and also by running your code against my machine yields this error
[code]

[2017-07-20 19:03] eddyerburgh commented on #88
Ah yeah, try Vue 2.4.1.

It might be erroring becaues of a missing render function.

You can use vue-template-compiler to compile your component to render functions if you aren't already compiling it - https://www.npmjs.com/package/vue-template-compiler

[2017-07-21 03:26] willypt commented on #88
Yes, that seems to be the source of problem. Thanks @eddyerburgh
Opened PRs in internal projects.
May I know where I can lookup on the `clone` documentation? And also, why wrapping it in Vue constructor making it not able to receive the set data? I thought avoriaz `wrapper.vm` treats the element same as `vm` in vanilla vue unit test.

[2017-07-21 03:29] willypt commented on #88
It says in documentation

Doesn't this mean that when I do
[code]
and mount this component, the `wrapper.vm` would be pointing to this element?

[2017-07-21 06:58] eddyerburgh commented on #88
Yes, but if you didn't provide a render function then no element will have been created. You can mount without a render function in Vue 2.4.x, but it looks like it throws an error in Vue 2.1.x

re: the clone documentation - that's actually incorrect, sorry. It's a part of vue-test-utils. I'll edit that code snippet

[2017-07-21 08:44] willypt commented on #88
Okay, that clears up why the change test doesn't work in Vue 2.1.x
Thanks a lot for your help @eddyerburgh
I'll mark it as closed and resolved 👍

[2017-07-21 08:44] #88 closed

[2017-07-21 17:31] TheDutchCoder opened #89 "Unexpected token <"
Hiya,

Was just trying to install avoriaz and give it a test, but it throws an error on the latest release:

Node 4.8.2
npm 5

[code]

[2017-07-21 18:06] eddyerburgh commented on #89
Looks like a problem with npm - https://github.com/npm/npm/issues/17492

[2017-07-22 20:54] #82 closed

[2017-07-22 20:55] eddyerburgh commented on #58
Are you still planning on adding this?

[2017-07-22 22:57] eddyerburgh commented on #81
Sorry, shouldn't have closed.

I've added a workaround in 2.6.3 but am unable to confirm in IE.

Can you confirm the fix?

[2017-07-22 23:05] eddyerburgh commented on #84
Hey, thanks for the bug report 😄 . Sorry for the late response. I've been really busy.

Would you able to write a minimal failing test? I'm going to busy for at least the next week, but should have 30mins to try and solve your issue. It would be a lot easier for me if I could copy and paste the test you were trying to run.

[2017-07-24 08:30] Dobbychen opened #90 "Cannot resolve module 'avoriaz' running the latest version (2.6.3)"
I have been unit testing using Avoriaz module since I have started Vue testing, and thanks for having a nice library!

However, when I updated the module to the latest version, the `Module not found: Error: Cannot resolve module 'avoriaz` error message occurs in every spec file. ( tried in both windows and linux), and there issomebody else also encountering the same [issue](https://stackoverflow.c

[2017-07-24 09:31] eddyerburgh commented on #90
Hi @Dobbychen , yes I changed the way the module was exported. I tested it and thought it was working - but it's not.

I'm going to revert to the previous build for v2.6.5, and release the changed export system in a major version.

I'll update when I've reverted.

[2017-07-24 09:46] eddyerburgh commented on #90
@Dobbychen Can you try installing latest - v.2.6.5 . It should be fixed

[2017-07-24 09:56] Dobbychen commented on #90
@eddyerburgh Cloning the latest version from github fixes the problem!

Even though in npmjs.com it states the latest avoriaz version is 2.6.5, using npm command can still only fetch 2.6.3. How long does it normally for npmjs to update packages in their registry? :)

[2017-07-24 09:59] eddyerburgh commented on #90
@Dobbychen it's pretty instant. Are you using yarn?

Can you try again, but remove the avoriaz line from package.json before running npm install --save-dev avoriaz?

Thanks 🙂

[2017-07-24 10:05] Dobbychen commented on #90
+-- avoriaz@2.6.5  installed.
Big thumbs up for prompt fix! 👍 👍 👍

[2017-07-24 10:05] #90 closed

[2017-07-24 10:06] eddyerburgh commented on #90
Great, thanks for the report 😄

[2017-07-24 16:18] chrisnicola commented on #58
@eddyerburgh with the imminent transition to vue-test-utils is it still worth adding this?

[2017-07-24 16:22] eddyerburgh commented on #58
Probably not

[2017-07-24 16:22] #58 closed

[2017-07-25 16:36] justincscott16 commented on #84
@eddyerburgh I am pretty busy this week too, but when I am able to get back to working on testing I will get you a minimal reproduction case! Hopefully by the end of the week!

[2017-07-25 20:30] clemf opened #91 "How to test HTML elements inside of slots?"
If I want to pass in a simple HTML element inside of a component's slot, how would I do this? For example:

[code]

[2017-07-27 17:40] heymrcarter opened #92 "Cannot find vue component relative to a wrapper that was returned by a previous call to find/first"
I have a component that renders multiple instances of a second component wrapped in divs:

[code]

I would expect to be able to search based on an id, and then be able to find `component` relative to the container in my first call to `first`:

[code]

The first test will pass, however, the second test always fails with the reason that `foo` = `bar`

It looks like searching for a component using th

[2017-07-27 18:48] eddyerburgh commented on #91
You'll need to use vue-template-compiler - https://www.npmjs.com/package/vue-template-compiler

[code]

[2017-07-27 18:48] eddyerburgh commented on #89
Did you manage to solve this?

[2017-07-27 18:57] eddyerburgh commented on #92
Yes, this isn't ideal.

`find` requires a Vue Instance to find another Vue Instance. Because div is a vNode, not a Vue Instance, find needs to use the default Vue instance.

I'm not sure if there's a good solution for this, I'll have a think about it.

In the meantime you can use `wrapper.find(Component)[1]`.

[2017-07-27 18:57] eddyerburgh commented on #81
Are you able to test this some time?

[2017-07-27 19:05] heymrcarter commented on #92
That makes sense now that you've explained it. I was trying to avoid dereferencing the array as the number of child components is dynamic and therefore the index for the same child will be different from test to test, potentially causing confusion. But in the meantime this does get the job done. Thanks!

[2017-07-27 19:08] TheDutchCoder commented on #89
So it turns out that it works on a clean install, with only Vue installed, but not in our current project (which has hundreds of other deps installed).

It seems to die on `loadIdealTree:loadAllDepsIntoIdealTree`

[2017-07-27 19:11] eddyerburgh commented on #89
Did you try deleting the npm cache? It might solve your issue.

On OSX/ linux -

[code]

I know that npm 5 has a few bugs related to their new cacheing implementation.

[2017-07-27 19:13] eddyerburgh commented on #77
Hi @disitec , sorry I left you high and dry here. Did you manage to find out the cause of the warnings?

I've been super busy recently and haven't managed to find the time to to debug, but this feature sounded really interesting.

[2017-07-27 19:17] TheDutchCoder commented on #89
No difference unfortunately :(

Not sure what else to do. It installs fine in a clean environment, so I don't know if it's an issue with your package or another one.

[2017-07-27 19:20] eddyerburgh commented on #89
I think it's an issue with npm, especially if the problem is coming from `loadIdealTree:loadAllDepsIntoIdealTree`

[2017-07-27 19:27] TheDutchCoder commented on #89
Yeah that makes sense. I'll close this issue for now and see if I can get it to work in some other way. Thanks!

[2017-07-27 19:27] #89 closed

[2017-07-27 20:17] disitec commented on #77
Don't worry! I'm aware that you are working very hard in the official Vue testing. I'm looking forward to try out.

I've been busy as well but maybe I can start looking into it next week on.

[2017-07-28 22:21] justincscott16 commented on #84
@eddyerburgh finally got to getting back to this! Here we go, a super basic component with an input, and then the two tests, one with `trigger()` and one with `simulate()`! Also a sidenote

[code]

[2017-07-29 07:31] eddyerburgh commented on #66
Hi Kevin,

I'm reverting this change in 3.0.0.

The current solution is to call wrapper.update() after you set the vm value:

[code]

[2017-07-29 07:35] eddyerburgh commented on #66
I'm considering either adding a method to stub methods, or an option to pass to mount:

[code]

Or

[code]

What do you think?

[2017-07-29 08:13] eddyerburgh commented on #84
The problem was that I had added update inside of trigger to fix this issue - https://github.com/eddyerburgh/avoriaz/issues/66.

I've now removed that update in the v3.0.0 . `trigger` will behave the same way as simulate.

Note that 3.0.0 has removed `simulate`, `dispatch`, `style` and `use`.

Let me know if it fixes your issue

[2017-07-29 08:15] eddyerburgh commented on #76
Are these Vue event listeners or DOM event listeners?

[2017-07-29 16:22] Akryum commented on #76
My use case was Vue events.

_Sent from my Motorola XT1572 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 08:47] eddyerburgh commented on #76
Can you use `wrapper.vm.$on`?

We discussed adding this to vue-test-utils but decided against it - https://github.com/vuejs/vue-test-utils/issues/6

[2017-07-31 09:12] gallifreyer commented on #81
I've alreadty test this fix in IE. It works.
I'm sorry to test this too late. Thank you.

[2017-07-31 09:13] #81 closed

[2017-07-31 18:22] justincscott16 commented on #84
@eddyerburgh works great, all my specs passed with simply replacing `simulate` with `trigger`. Also, switching to `Vue.use(Vuex)` was a simple find and replace from what I had which was `avoriaz.use(Vuex)`.

Thanks for the help and the quick response and fix, you are the man, love your software!

[2017-07-31 19:49] #84 closed

[2017-08-01 09:58] nekosaur opened #93 "Question: Passing props to slot components"
Say I have a multi-part component where the markup looks something like this, and I need to test some interaction between the components.

[code]

I can mount the `parent` component with props, and I can add the children to the default slot

[code]

But what's the best way of making sure the `child` components get created with the prop values?

[2017-08-01 10:06] eddyerburgh commented on #93
There isn't currently a way. I can look into this in the future, but I won't be able to for at least 3 weeks (I'm going on holiday). If you want to have a look at a way to solve I would happily accept a PR 🙂

[2017-08-02 10:53] Micene09 opened #94 "Types definition file (typescript)"
Hi,
Because of my project's complexity, I need to code my tests files (jest) using typescript.
Having the definition file will be great for every typescript/javascript coder (just think about Vscode javascript intelligence service or a full typescript codebase)

I hope in a fast resolution, thanks in advance.

Ps. Thank you for the great job here! Avoriaz is an amazing test library!

[2017-08-02 13:00] eddyerburgh commented on #94
Hi @Micene09 , I've been thinking about adding this for a while.

I've added a definition file in `types/index.d.ts` in 3.1.0 🚀

I'm not a TS user, so not sure if it includes all the features you'll need. If you find anything missing, either leave an issue detailing what you need or  make a PR 🙂

[2017-08-03 07:52] #94 closed

[2017-08-03 23:59] YassineGherbi opened #97 "Testing custom elements without a name property"
I'm using a library called ```Vuetify```. Now my app contains (almost) only vuetify elements like v-btn/v-toolbar/...

The problem is that I can't test anything because Avoriaz requires custom elements to have a name property and none of those custom elements have a name property...

I'm sorry if I'm totally wrong, I'm pretty new to testing javascript. Any help is appreaciated. :)

[2017-08-04 05:32] eddyerburgh commented on #97
Yes you're right, avoriaz needs a custom name property to identify components.

This isn't ideal, I can have a look and see what other ways we can use to identify vue components 🖒

[2017-08-04 07:23] #93 closed

[2017-08-07 12:25] Phlow2001 opened #98 "this.$attrs is undefined during test. Providing attrs to mount() causes Vue warn."
I'm testing code that uses `this.$attrs` internally.  This is always defined during runtime, but during test it's undefined.  That seems like incorrect state for tests.

If you provide attrs to mount, like this:
[code]

then `this.$attrs` is defined, but Vue warns:

Is there an easy work-around or fix for this?

[2017-08-07 16:19] eddyerburgh commented on #98
Hi, sorry I don't think so at the moment - although I'll look into it

[2017-08-08 00:48] nishidashib opened #99 "cannot json parse"
spec.js

[code]
NG vue file
[code]

OK vue file
[code]
[code]

what's wrong?????????

[2017-08-08 01:31] #99 closed

[2017-08-08 01:42] nishidashib commented on #99
i forgot cookie.set in beforeEach
i solved this

OK spec.js
[code]

[2017-08-08 15:38] riophae opened #100 "Problems with `hasAttr()`"
Hi, I have been recently writing unit tests using avoriaz. There were a few problems with `hasAttr()`, for example:

[code]

Further more, `hasAttr()` is not ideal for error report:

[code]

I think it would make debugging much easier if the API looks like this:

[code]

[2017-08-08 15:41] eddyerburgh commented on #100
Yeah I agree ☺

I'll add these methods this week and release in 4.0.0

[2017-08-08 15:46] riophae commented on #100
@eddyerburgh If you are busy at the moment, I'd like to help implement those which should be quite simple!

[2017-08-08 16:10] eddyerburgh commented on #100
Yeah I'd appreciate the help! Can you add a getAttr and getProp method? I'll review the PR ☺

[2017-08-08 16:13] riophae commented on #100
@eddyerburgh No problem!

[2017-08-08 18:38] riophae commented on #100
Oh, maybe I am not clear about the meaning yet. Does `getProp` you mentioned mean the prop value of DOM element? Or it also could be Vue instance prop value.

[code]

[2017-08-08 19:54] eddyerburgh commented on #100
I thought it should be the prop value of a vue instance

[2017-08-08 21:35] riophae opened #102 "Problem with keyboard event simulating"
Though it's possible to simulate some specific keys to test keyboard events, it's actually too limited - only a few keys are allowed:

https://github.com/eddyerburgh/avoriaz/blob/master/src/Wrapper.js#L373

So I think it's necessary to make it possible to test **any** keys.

Also, as [this article](https://css-tricks.com/snippets/javascript/javascript-keycodes/) suggests, it's best to recognize ke

[2017-08-09 10:01] bilougit opened #104 "Route injection is not working (Error in mounted hook: ...)"
Hi, I've been following the [documentation](https://github.com/eddyerburgh/avoriaz#inject-globals) to inject router into my component I'm wanting to test.
I think I did everything required but no success, and I get this error:

[code]

**test/unit/specs/components/my_component/MyComponent.spec.js**
[code]

[2017-08-09 11:17] eddyerburgh commented on #104
When you install Router, it adds $route as a global read-only property.

You can see a discussion here - https://github.com/eddyerburgh/avoriaz/issues/42

[2017-08-09 11:18] eddyerburgh commented on #102
I think this is a great suggestion. Are you able to implement it? We could release, along with your other changes, in 4.0.0

[2017-08-09 11:41] bilougit commented on #104
That works! thx

[2017-08-09 11:41] #104 closed

[2017-08-09 11:46] bilougit commented on #104
So injecting $route is different from injecting i18n. I got it, thx!!

[2017-08-09 11:58] riophae commented on #102
Yeah, no problem!

[2017-08-10 16:20] Zizaco commented on #77
Looking forward to a solution.
Currently we have this nasty workaround :sweat:

[code]

[2017-08-10 17:43] eddyerburgh commented on #77
I don't think a solution is being actively developed. I can look at it in a few weeks, but if you want to make a PR I would really appreciate it! 😀

[2017-08-10 19:24] riophae commented on #102
I think we could outsource the work to this module https://github.com/KenanY/create-event ?

[2017-08-10 19:29] eddyerburgh commented on #102
Yes, although we can only use it for keyup, keydown click and dblclick
events

On Thu, Aug 10, 2017 at 8:24 PM, Fangzhou Li <notifications@github.com>
wrote:

[2017-08-11 08:39] DarwinniwraD opened #105 "mount function not working for me"
[code]
the results are some blank stuffs, i'm not sure if it needs some more configs, thanks

[2017-08-11 22:26] daekano commented on #98
Also running into this issue. Avoriaz 2.5.0.

[2017-08-13 13:27] #105 closed

[2017-08-14 03:04] riophae commented on #102
These days I have spent some time reading the source code of [triggerhappy](https://github.com/Knape/triggerhappy). It provides a lots more features, including touch events testing. I think we can learn something from it and jest and we will have a lot to discuss about.
But for now, I think there is an urgent need for testing keyboard events and we should implement those as soon as possible.

[2017-08-15 01:57] DarwinniwraD opened #106 "TypeError: Cannot read property 'path' of undefined"
I want to test my routers, using the mount() function, but it caught the undefined, and I tried to initialize the route using ```$route = new Router({path: 'route-path'})``` , replace ```$route = {path: 'route-path'}```, but it's not working. This is what I am testing,
[code]
Thanks!

[2017-08-15 05:41] eddyerburgh commented on #106
Hi, see this issue for details on what's going on -https://github.com/eddyerburgh/avoriaz/issues/80

[2017-08-15 14:44] M-Zuber opened #107 "Getting the value of an input element"
Given an element like so `<input type="text" v-model="value">`

How can I access the value of the element?

[2017-08-15 15:24] M-Zuber opened #108 "Running docs locally"
(This is on windows if that makes a difference)
After running `npm run docs:build` I attempted to run `npm run docs:watch`, but it fails with the following message:
`Error: Couldn't locate plugins "edit-link, prism, github, theme-vuejs", Run 'gitbook install' to install plugins from registry.`
but `gitbook install` tells me there is nothing to install

As an aside: are contributors expected to upd

[2017-08-16 15:16] odranoelBR opened #109 "this.element.querySelectorAll is not a function"
code : ` expect(wrapper.contains('p')).toBe(true);`
error: this.element.querySelectorAll is not a function
version: 3.2.0

[2017-08-17 07:07] eddyerburgh commented on #109
Can you post the entire component you're testing?

[2017-08-17 09:19] bilougit opened #111 "trigger('click') does not fire the click"
I'm testing a **new custom component** which I created.
When clicking on `arrow-img`, the class `active-menu` should be moved from the first `li` to the second `li`.

My tests after `trigger('click')` suggest that nothing has changed as if the `arrow-img` hasn't been clicked.

[code]

And here is my component js

[code]

As you can see, my component DOM is fully manipulated by `jQuery`.

Is this t

[2017-08-18 08:35] nekosaur opened #113 "Problem with passing wrappers to slots"
So I found a problem with my implementation of passing wrappers to slots (#93). I've tried investigating the cause but I've come up empty so far.

When doing this, the component renders correctly (calling `.html()` for example), but `wrapper.instance().$children` is an empty array.
[code]

Doing this however, populates the `$children` array correctly.
[code]

[2017-08-20 06:25] #106 closed

[2017-08-20 06:47] eddyerburgh commented on #111
Hi, the component needs to have a render function that renders something for avoriaz to test the DOM. Alternatively, you can simply call mount with the option `attatchToDocument: true` and use a DOM testing library for your assertions.

Something like this:
[code]

[2017-08-20 08:04] eddyerburgh commented on #108
Hi, sorry for the delayed response. I've been on vacation 🏖

`docs:watch` should be fixed with cc04f789fac58b416746e49a8137f1c5d257bb4d

Contributors are not expected to publish the docs, but they are expected to update the docs with information on new/ changed features.

[2017-08-20 13:18] eddyerburgh commented on #98
This should be fixed in v3.2.1

[2017-08-20 15:08] M-Zuber commented on #108
👍 Thanks for the fix and update

Hope your vacation is going well

[2017-08-20 15:08] #108 closed

[2017-08-20 15:09] M-Zuber commented on #107
I made the changes to make this work, is it something you would be interested in a PR for?

[2017-08-20 15:10] eddyerburgh commented on #107
Yeah, what were the changes?

[2017-08-20 15:39] M-Zuber commented on #107
pretty much this:
[code]

[2017-08-20 15:40] M-Zuber commented on #107
The pr is here #114

[2017-08-20 19:51] hauleth opened #115 "setProps and setData should return this"
This would allow chaining methods in tests and in future would simplify migration to immutable `VueWrapper`.

Example:

[code]

Could be written as:

[code]

[2017-08-20 20:31] eddyerburgh commented on #115
Hi @hauleth .

Personally I'm not a fan of chaining methods, but I can be convinced. If other users would benefit from this feature, then I would be happy to accept a PR implementing the changes

[2017-08-20 20:31] eddyerburgh commented on #107
This is now live in 3.3.0

Thanks for the PR 🙂

[2017-08-20 20:31] #107 closed

[2017-08-22 00:22] lmiller1990 opened #116 "Mocking method on component (using Jest)"
Hi,

I am trying out avoriaz with Jest. So far this library is great, thanks a lot.

I want to mock a method that makes an api request.

My code looks something like

### SomeComponent.vue
[code]

### Test
[code]

I saw some examples around using sinon, but the same should work for jest. So I would like to know how I can mock a function - I was struggling to find an example. I did see one other ex

[2017-08-22 06:55] eddyerburgh commented on #116
You were nearly there:

[code]

I'm going to add a setMethod method at some point to make this easier to understand.

[2017-08-22 11:36] lmiller1990 commented on #116
So I had to call `update`! I didn't realise this would also update the setting of new methods.

Can I make a PR with this information in the docs somewhere? Mocking a function seems like a common use case but from I can see it isn't mentioned in the docs.

Maybe a section on mocking under guides? I think this library is a game change for a lot of people building Vue apps, and more guides/examples

[2017-08-22 11:39] wsielski opened #117 "Test component's rendered elements against its parameters"
Considering the component rendering list of links based on Vuex state list of links. For the purpose of this question I'll make the code simpler and shorted but as clear as I can do:

LeftNav.vue
[code]

leftnav.test.js
[code]

I've tried to do this multiple way, unfortunately without success.

propsData()
computed()

Can you please give me a hint how can I test it properly?

[2017-08-22 11:39] eddyerburgh commented on #116
Yes I'd welcome a PR 😄

I think the best solution would be to add a setMethods method, similar to vue-test-utils - https://github.com/vuejs/vue-test-utils/blob/dev/src/wrappers/wrapper.js#L260

If you are up for it, you could make a PR adding setMethods, as well as a mocking guide in the docs

[2017-08-22 11:42] eddyerburgh commented on #117
Try this:

[code]

Let me know if it works (I haven't tested it)

[2017-08-22 11:52] wsielski commented on #117
[code]
Well the problem is not a finding a right elements, but instead finding the right way to expose the parameters passed to them.

[2017-08-22 13:47] eddyerburgh commented on #117
Sorry, I misunderstood your original problem.

There are two ways:

If the component has props defined in it:

[code]

If the stub does not have props defined you need to use $attrs:

[code]

The second option is not ideal. I'll have to think about adding a method that allows this. Potentially I could edit `hasAttribute` to also include vm.$attrs. If you have any ideas for a method, I'd love to he

[2017-08-22 14:12] eddyerburgh commented on #116
vue-test-utils has a slightly different API. You can see a full list here - https://github.com/vuejs/vue-test-utils/tree/master/docs/en/api/wrapper

`find` also behaves differently, it returns the first matching item. vue-test-utils has a `findAll` method that returns an array like object.

They won't merge, but I will focus most of my effort on vue-test-utils.

There is documentation, but it hasn

[2017-08-22 15:19] lmiller1990 commented on #116
Thanks for the link to the docs.

I made a PR. I would like to improve the docs too, for this and for other areas, maybe that can come in another PR/issue?

Also, should I start to focus more on the official vue-test-utils, or there is need for this project alongside the official tools?

[2017-08-22 15:25] eddyerburgh commented on #116
Thanks 👍

vue-test-utils is the official solution - a guide on stubbing methods would be greatly appreciated. It would be useful to add a guide to avoriaz too, but vue-test-utils is definitely the priority.

[2017-08-22 15:57] eddyerburgh commented on #116
`setMethods` has been merged and is now live in v3.4.0 👏

[2017-08-22 15:57] #116 closed

[2017-08-22 16:00] lmiller1990 commented on #116
Great! I'll close the issue. I will be looking to do some writeups of how to mock/stub methods, and hopefully add a guide about it too in the future (maybe here, or the official test-utils repo, or both).

Thanks again for the quick reviews and responses and great lib!

[2017-08-23 17:41] Micene09 opened #119 "AMD/UMD Support"
Hi,
I'm trying to develop a boilerplate using this library but, I cannot require it in a view using requirejs.
As I can see from the dist/avoriaz.js file, this needs just 3 dependencies:
- vue
- vue-add-globals
- lodash

...maybe this implementation will not be so hard, can you give it a try?

Ps. Thank you for the great job here man!

[2017-08-23 22:21] eddyerburgh commented on #119
I've added umd and amd builds locally, but I'm not sure if they should include Vue. If they did, the dist files would be tied to whichever version of Vue avoriaz is using. I think the user should be able to choose which version they run.

I don't use umd/amd files often. Can you tell me a bit about your test pipeline. do you have an example project I can look at? Would you be able to include Vue s

[2017-08-24 11:23] Micene09 commented on #119
Totally agree with the inclusion of lodash/cloneDeep and vue-add-globals and the exclusion of Vue, every dev should be free to choose the Vue's version in every kind of environment...just think about the .min.js (production) and max version (dev with suggestions in console).

Actually i'm not ready to publish the boilerplate but, this is the project's configuration:
 - Karma as test runner
 - Phan

[2017-08-24 20:39] eddyerburgh commented on #119
Ok, I've released a umd and amd build in 3.5.0

You can require with `'avoriaz/dist/avoriaz.amd.js'` or `'avoriaz/dist/avoriaz.umd.js'`

Can you let me know if this works correctly for you?

[2017-08-25 20:16] Micene09 commented on #119
Awesome!
It's working like a boss...i tried with both amd and umd version.

I was thinking about it, do we need really 2 files? amd and umd?
Maybe the umd is enought to cover every needs, what do you think about it?

[2017-08-25 20:23] eddyerburgh commented on #119
Glad it's working ☺.

It's not much extra effort to have a umd and amd file, so I think we can
leave it.

On 25 Aug 2017 21:16, "Micene09" <notifications@github.com> wrote:

Awesome!
It's working like a boss...i tried with both amd and umd version.

I was thinking about it, do we need really 2 files? amd and umd?
Maybe the umd is enought to cover every needs, what do you think about it?

—
You are

[2017-08-25 21:07] Micene09 commented on #119
Ok man.
Thank you for the great job here.

Closing.

[2017-08-25 21:07] #119 closed

[2017-08-29 16:32] sheb-gregor opened #121 "Trigger 'input' for few input fields"
I tried to test the correct bindings of the v-model and encountered the following problem: changing the values of the 'input' elements and calling the .trigger('input') method always only triggers the first one.
So first assert pass, seconds fails.
`
 it('should render correct contents', () => {
    const wrapper = mount(Login, { store })
    expect(wrapper.find('h1')[0].text()).to.equal('Login')

[2017-08-29 17:50] icaioincau opened #122 "Provide/Inject variables"
How to unit test components that has injected dependencies?

https://vuejs.org/v2/api/#provide-inject

[code]

[2017-08-29 18:49] eddyerburgh commented on #121
I don't think there's an easy solution to this, apart from restructuring the test. Like you did. I'll leave this issue open and I can look into it in the future, but for the moment your rewrite is the best solution.

[2017-08-29 19:31] eddyerburgh commented on #122
I added a `provide option in 3.6.0.

[code]

Please let me know if this works for you.

[2017-08-30 07:55] #100 closed

[2017-08-31 10:38] hauleth commented on #115
The whole point is to have immutable wrappers in future that would allow writing code like:

[code]

Instead of creating new wrapper inside each test.

[2017-08-31 11:17] icaioincau commented on #122
It works, thanks @eddyerburgh !

[2017-08-31 11:18] #122 closed

[2017-09-01 07:21] Riduidel opened #123 "New version of Vue or vue-template-loader introduces the _vm._ssrNode function"
I've recently upgraded my Vue install from 2.3.4 to 2.4.2
Since then, I have a unit test which outputs the following warning

	(found in <Root>)
	TypeError: _vm._ssrNode is not a function
		at Proxy.eval (eval at patchTemplate (myWorkspace\test\Unit\avoriazNode.js:35:10), <anonymous>:62:51)
		at VueComponent.Vue._render (myWorkspace\node_modules\vue\dist\vue.runtime.common.js:4126:22)
		at VueComp

[2017-09-01 07:27] eddyerburgh commented on #123
Are you setting `target: node` in a WebPack config? Removing this option will solve this error.

If you aren't, can you post a minimal reproducible example?

[2017-09-01 08:50] Riduidel commented on #123
Indeed, removing the `target: node` removed the error.

Thanks !

[2017-09-01 08:50] #123 closed

[2017-09-03 15:10] nikit-cpp opened #124 "shallow with globals don't mock router"
Hello, I've googled for proper way to mock router and read your [article](https://eddyerburgh.me/stub-$route-in-vue-unit-tests)
but if I define $router via globals -- it hasn't any effect -- I get
[code]

Here is [branch](https://github.com/nikit-cpp/blog/tree/avoriaz-mock-router) in my project

**Steps to reproduce**
[code]

file https://github.com/nikit-cpp/blog/blob/avoriaz-mock-router/frontend

[2017-09-03 15:15] eddyerburgh commented on #124
You're probably calling `Vue.use(Router)` before running tests, see this issue -https://github.com/eddyerburgh/avoriaz/issues/80

[2017-09-03 15:32] nikit-cpp commented on #124
Thanks, I don't think if I've imported only constants from my router.js, Vue.use() will be invokend

[2017-09-03 15:36] eddyerburgh commented on #124
Try not importing them and see if it fixes the issue.

When you `require` a module, it runs the file. So that `Vue.use` will be run. (imports are transpiled to require functions).

I suggest splitting up your router into separate files, and only calling Vue.use(router) in a main file that instantiates Vue. It's not an ideal solution, but it's the only way you'll be able to mock Router.

[2017-09-03 15:40] #124 closed

[2017-09-03 15:42] eddyerburgh commented on #113
Did you get any further with this? It would be good to get a solution - but I'm not sure when I'll have time to look into it.

[2017-09-04 07:30] eddyerburgh commented on #97
Hi @YassineGherbi, I've looked into Vuetify, and every component I checked has a name. Which component were you using that didn't have a name?

[2017-09-06 20:05] disitec commented on #77
I am ready to make the PR but which kind of test should I write? This issue does not happen in mocha. As we talked in Discord I propose an API such as `import { stubTransitions } from 'avoriaz'`

So when `stubTransitions()`; is called this code is executed overriding the undefined.

[code]

[2017-09-06 20:08] eddyerburgh commented on #77
Where does it happen? I thought it would happen when running in mocha-webpack, because that uses JSDOM.

[2017-09-06 20:21] disitec commented on #77
I cannot reproduce the issue in mocha-webpack. In my private project it always happens using AVA.

[2017-09-06 20:22] disitec commented on #77
We had this discussion in July :D

[2017-09-06 20:24] eddyerburgh commented on #77
Ok, I think you can just have a test that calls it. I have a feeling overwriting getComputedStyle will break wrapper.hasStyle. Maybe you could also add a call in hasStyle.spec.js.

[2017-09-07 08:09] disitec commented on #77
You were right. It breaks hasStyle. I'll do a WIP PR so you can take a look ok?

[2017-09-07 10:38] nekosaur commented on #113
Unfortunately I have not had time to look into this further either.

[2017-09-08 02:14] viko16 commented on #21
Excuse me, I would like to know why the example code above use `async/await`, is `avoriaz.mount` an asynchronous function ?

[2017-09-08 04:59] eddyerburgh commented on #21
No it's not async

On 8 Sep 2017 03:14, "viko16" <notifications@github.com> wrote:

[2017-09-09 05:19] lmiller1990 opened #127 "Testing `$watch` on `$route`"
Hi,

I have a test that is using a mock vuex store, and a real router. I want to test if an action is dispatched when the route changes.

I do something like:

SomeComponent:
[code]

Test
[code]

For some reason, even though the $watch on the $route _is_ triggering, the mock is not called again. I can confirm it _does_ work in the created hook.

Is there something that would stop the action in a w

[2017-09-09 07:37] eddyerburgh commented on #127
I'm on mobile so can't debug, but have you checked what newVal and oldVal are? How do you know watch is being called?

[2017-09-10 15:31] lmiller1990 commented on #127
I put a console.log inside and it's called. I tried logging `this.$store.dispatch('someAction')` and get a promise - even when I mock the method, odd.

I'll put up a working example tomorrow night (24h from this post or so).

[2017-09-14 09:15] scleriot opened #129 "Vue.nextTick and vm data update"
Hi,

First of all, thanks for this library ! :)

I have this piece of code triggered by a click on a button.
[code]

I'm trying to test it with this code (axios request is stubbed with sinon) :
[code]

The value of `vm.event.firm` doesn't change, so the test fails. The following code passes the test :
[code]

I have to wait for Vue.nextTick() to have the vm data updated, any idea why ? (I don't se

[2017-09-14 09:27] eddyerburgh commented on #129
Try using `update` to force update the value inside the setTimeout -
 https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/update.html

[2017-09-14 09:34] scleriot commented on #129
My bad, I wasn't waiting for another request to complete... It's working as expected now, thanks

[2017-09-14 09:34] #129 closed

[2017-09-15 13:06] disitec commented on #92
Any news on this?

I am trying to do something like this

[code]

[2017-09-16 09:35] eddyerburgh commented on #127
Did you resolve your issue?

[2017-09-17 13:46] disitec commented on #75
I will check vue-test-utils repo and try to make a PR on this.

[2017-09-17 16:39] disitec commented on #75
Check it out #130
I think it could do the trick. This is valid for my case.

[2017-09-18 14:50] Fleeck opened #131 "undefined is not a function (evaluating 'this.element.querySelectorAll(selector)')"
Hi, I encounter such error as the title says and my test fails.
avoriaz version: 4.2.0

My test is very simple:

[code]

And the component is simple as well:

[code]

What am I doing wrong?

P.S. Also how can I use `$router`, `$t` & `$store` inside of my component? (As I have warns & errors because of that) Thanks.

[2017-09-18 14:56] eddyerburgh commented on #131
Are you using JSDOM to add a document in your tests?

To add $router, $t and $store, you can use `options.globals`:

[code]

[2017-09-18 14:57] Fleeck commented on #131
@eddyerburgh
Thanks for your fast reply! No, I am not using JSDOM.

[2017-09-18 14:59] eddyerburgh commented on #131
Ok, that's probably the problem. You need to run the tests in a browser, or you need to run JSDOM to create a virtual document. You can do that with a setup file that runs browser-env (which runs JSDOM under the hood) before your tests, like this - https://github.com/eddyerburgh/avoriaz-tape-example/blob/master/test/helpers/.setup.js#L6

[2017-09-18 15:09] Fleeck commented on #131
Is it the same stuff for Mocha/Chai?

[2017-09-18 15:15] Fleeck commented on #131
Now I get something like this - `TypeError: undefined is not an object (evaluating 'store.registerModule')
`

[2017-09-18 15:17] eddyerburgh commented on #131
Sounds like you're installing Vuex before your tests (using Vue.use(Vuex)).

You'll need to debug your code and find where the error is. You can add globals using the `globals` option. Anything that's undefined but used in the component will need to be added with this option:

[code]

[2017-09-18 15:21] Fleeck commented on #131
I am adding router instance as `$router` property as well as others, however I still get the same output that these are undefined :(

[2017-09-18 15:30] eddyerburgh commented on #131
Ah - you might be getting stung by this - https://github.com/eddyerburgh/avoriaz/issues/80

Make sure you don't accidentally Vue.use(Router) before you run your tests.

[2017-09-19 11:11] Fleeck commented on #131
Still no luck :(
Unit testing seems overcomplicated to configurate

[2017-09-19 11:15] eddyerburgh commented on #131
Yeah it can be complicated

The main things to note:

- **You need to run the tests in a Document environment**. (use JSDOM to run in node)
- **You need to stub properties on the vue instance in components if they expect them**. Using `shallow` instead of `mount` means you only stub dependencies in one component.
- **You shouldn't run any code that installs plugins on Vue in your unit tests**. It'

[2017-09-19 21:47] guilazzaris opened #132 "Problem testing with and VuePrograssBar"
I'm having a problem testing with Avoriaz my own generic component that wraps a plugin called VuePrograssBar (http://hilongjw.github.io/vue-progressbar/)

I'm trying to test that my own generic component (Loading) is indeed calling the VuePrograssBar plugin.

Loading Component:

[code]

My Test (Mocha, Chai, Avoriaz):
[code]

But I'm getting this error:
[code]

[2017-09-20 05:28] eddyerburgh commented on #132
Can you create an issue on StackOverflow? This is to do with how you're using the library, it's not a bug with the library itself.

I'm trying to seperate out bug reports with problems like yours, and StackOverflow is a better place for questions like these.

If you make a question on StackOverflow and link me, I'll happily answer your question.

[2017-09-20 05:28] #132 closed

[2017-09-20 06:13] kenberkeley opened #133 "wrapper.contains() must be passed a valid CSS selector or a Vue constructor"
https://github.com/OneWayTech/vue2-datatable/blob/master/test/Advanced.spec.js#L59-L75

[code]

same result if:

[code]

[2017-09-20 06:47] eddyerburgh commented on #133
In the test you liked it looks like tdComp is undefined.

Can you make a minimal reproduction?

[2017-09-20 08:29] kenberkeley commented on #133
fixed in https://github.com/OneWayTech/vue2-datatable/commit/fdb388dd58a4bab5a3f8a73ec063d8ba4857bd44

[2017-09-20 08:29] #133 closed

[2017-09-23 14:08] lmiller1990 commented on #127
@eddyerburgh thanks for checking back in. I did not, and I made a quick reproduction. See here https://github.com/lmiller1990/avoriaz-router-test-bug

The files to look at are Ajax.vue and Ajax.test.js. I am using Jest for testing.

I am using `watch: { $route }`. When the route changes, I want to dispatch an action. I mock teh action, and assert it should be called once, but it is not. Putting a

[2017-09-25 10:24] kryvonos-redvike opened #134 "Method 'find' doesn't work with usual object."
My vue components are defined as usual objects, thus files of components have **js** extenstion.
So when I try to do something like this:
[code]

I get following error:
`wrapper.find() must be passed a valid CSS selector or a Vue constructor`

[2017-09-25 10:44] eddyerburgh commented on #134
Can you post an example of Bar?

[2017-09-25 11:02] kryvonos-redvike commented on #134
Simple example:
Foo.js
[code]

Bar.js
[code]

[2017-09-25 12:39] eddyerburgh commented on #134
avoriaz requires components to have a render function.

You can do this:

[code]

and then use Bar like normal.

This is a pretty poor solution, so I think we should add an option to avoriaz that does this for you. Something like `compile`.

I can't make a PR for at least the next week, so if anyone wants to pick it up, it would be much appreciated.

If not, I'll get it added soon.

[2017-09-26 01:07] downace opened #136 "Using .html() on children removes them from parent"
Test:
[code]
Output (each `console.log` on separate line):
[code]
I have to use `wrapper.find('.header')[0].element.outerHTML` as a workaround

[2017-09-26 01:36] downace opened #137 "Using `shallow()` with `vue-class-component` - can't get rendered template"
Can't get rendered HTML when using shallow:
`foo.vue`
[code]
`foo.spec.ts`:
[code]
Output:
[code]

Maybe I'm doing something wrong?

[2017-09-26 01:47] wesssel opened #138 "`setMethods` not working for `mounted` methods"
Hello,

When I try to mock a methods with `setMethods` to prevent api call it works only when the function is called after mount.
example:

index.vue:
[code]

test.spec.js
[code]

It still get `WARN [web-server]: 404: /api/items`

Any advice?

[2017-09-26 05:30] eddyerburgh commented on #138
Yes, sorry you'll have to stub the actual component before you mount, which isn't ideal.

[code]

You could deep clone the component before mounting.

[code]

Going forward, there should be a better way to stub methods like this. I'll add a feature request label. If anyone has suggestions for an API, I'd love to hear them 😃

[2017-09-26 05:31] eddyerburgh commented on #137
Sorry, there's a bug with TS at the moment.

I'm not a TS user so it's difficult for me to debug, and I haven't got much time at the moment.

If you'd like to take a look, I'd really appreciate it.

Otherwise, I'll try to fix in a few weeks

[2017-09-26 06:35] wesssel commented on #138
Makes sense actually. Thank you for your answer.

[2017-09-26 06:36] wesssel commented on #138
Closing issue was an accident.

Thank you for your answer.

[2017-09-26 10:11] erwin16 opened #139 "cannot trigger action from icon element"
I am testing the following component in which the click event is trigger from an icon
the event is never triggered as the icon element is never found ...  is there any specific writing for such element ??

        `		<template>
		  <a :href="href" :aria-controls="id" role="tab" data-toggle="tab">{{ title }}<i class="glyphicon glyphicon-remove" @click="deleteShoppingList(id)"></i></a>
		</template>

[2017-09-26 11:38] erwin16 commented on #139
Solved ..
removing the line . :  sinon.stub(store, 'dispatch') in the before block ... solve it ..
I don't know actually why , but it is ...

[2017-09-26 11:38] #139 closed

[2017-09-26 17:18] erwin16 opened #140 "how to test correctly computed properties with Vuex getters ?"
Can you give some advices on testing w Vuex getters ...

**Console log** upon running npm run unit, error in before each hook :

    `App.vue
		    display and add a new shopping list
		      ✗ "before each" hook for "displays Shopping Lists"
		        Error: [vuex] getters should be function but "getters.shoppinglists" is "getLists".
		            at assert (webpack:///~/vuex/dist/vuex.esm.js:97:

[2017-09-26 17:23] eddyerburgh commented on #140
Replace this line:
[code]
with:
[code]

And make the getters a function that returns the value you want:
[code]
If this doesn't work, please open an issue on StackOverflow. The issue tracker is for bugs or feature requests.

[2017-09-26 17:23] #140 closed

[2017-09-28 14:40] lmiller1990 commented on #127
Reopening (see above comment for repro).

[2017-09-29 22:10] WilliamDASILVA opened #142 "Update the website documentation"
Hi there,

The current documentation here: https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/hasAttribute.html does not represent the documentation specified here https://github.com/eddyerburgh/avoriaz/commits/master/docs/api/mount/hasAttribute.md

Since the changes are merged in master, wouldn't be better to update the website documentation more often to reflect the documentation in the r

[2017-09-30 05:23] eddyerburgh commented on #142
Agreed, thanks for reminding me.

I just republished. I'll add the publish script to the release script.

[2017-09-30 05:25] eddyerburgh commented on #142
Closed with e44e789280cfdfd342259db8414d6e8a0643beaf

[2017-09-30 05:25] #142 closed

[2017-10-02 19:58] #98 closed

[2017-10-02 20:29] eddyerburgh commented on #134
avoriaz now supports this in version 6.0.0 🎉

[2017-10-02 20:29] #134 closed

[2017-10-02 20:29] eddyerburgh commented on #136
Thanks for the bug report 🙂

I've added a fix for this in 6.0.0

[2017-10-02 20:29] #136 closed

[2017-10-03 07:51] erwin16 opened #144 "cannot test a custom directive plugin"
in the test specss, when we import the plugin, the install function is run , so it's before wrapping the Vue
( Vue.use(VueNoiseGeneratorPlugin) before wrapper = mount(App) )

so the Vue. directive cannot be initialized correctly

here is my unit test

VueNoiseGeneratorPlugin.spec.js

		import Vue from 'vue'
		import App from '@/App'
		import VueNoiseGeneratorPlugin from '@/plugins/VueNoiseGenerato

[2017-10-03 10:26] erwin16 commented on #144
reading this closed issue ..

https://github.com/eddyerburgh/avoriaz/issues/32

I guess that I have to use avoriaz.use() rather than Vue.use()  ?   is it described in the doc ?

[2017-10-03 10:41] jonnyparris opened #145 "Stubbing computed property for another computed unit test"
Hello - how should I stub the value of a computed property in a unit test?

I've got a computed method on my component:
[code]

that I've tried testing with the following:
[code]

However, sortedRows logs as empty within the visibleRows method when the unit test runs.
Any help much appreciated

[2017-10-03 11:25] eddyerburgh commented on #144
`avoriaz.use` doesn't exist anymroe. Vue.use will work.

I'll look into this properly soon (maybe Thursday), sorry for the delay

[2017-10-03 17:16] mgmalana opened #146 "Trigger select"
Hello, how do I trigger a checkbox?

My html is the ff:

[code]

I tried checking the checkbox using:
`  wrapper.first('.list-checkbox input').trigger('click')`

The v-model should change but it doesn't. Any help on this?

[2017-10-03 17:49] adamyarger opened #147 "Mock $refs when rendering shallow component"
Is there any way to mock or stub $refs when using shallow to render a component?

I have a child component that takes quite a bit to get set up for testing, so using shallow is a nice way to make my tests less brittle. What I've now run into is that the child component is not recognized inside the $refs object. Is there a way to stub or mock a ref when using shallow?

[2017-10-04 12:11] erwin16 commented on #144
solved issue  , in the plugin , I need to replace the parameter  value  :

    Vue.directive('noise', (value) => {
	      var noise
	      switch (value) {
             ....

with  :  binding.value

         Vue.directive('noise', (el, binding, vnode) => {
              const noisecolor = binding.value
             var noise
             switch (noisecolor) {
                    ...

    Then the

[2017-10-04 12:11] #144 closed

[2017-10-08 20:15] austindebruyn opened #155 "`hasStyle` prints wrong error when value is not a string"
**What I did:**

Called hasStyle with an integer for a pixel-specified rule

[code]

**Expected output:**

[code]

**Actual output:**

[code]

My fix: https://github.com/eddyerburgh/avoriaz/pull/156

[2017-10-09 06:56] #155 closed

[2017-10-11 12:06] podlebar opened #157 ".html() is undefined when template root tag is <a>"
the html() method returns a undefined when the root tag of a template is a link tag.
Vue does not give me any errors but could it be that the root element should not have any bindings attached or so?

Not working example:
[code]

while this is working even the root tag is still not a block tag:
[code]

[2017-10-11 14:44] Snugug opened #158 "External JS files "not defined""
Using https://github.com/eddyerburgh/avoriaz-ava-example as a starting point, if I move the JavaScript from a single-file component from the actual `.vue` file to an external `.js` file and import it via `<script src="./foo.js></script>`, Vue throws warnings `[Vue warn]: Property or method "msg" is not defined on the instance but referenced during render. Make sure to declare reactive data propert

[2017-10-11 18:18] signal-intrusion commented on #146
Same problem with radio buttons.

[2017-10-11 19:10] signal-intrusion commented on #146
@mgmalana It turns out you have to trigger change on the `input` element. Should work with `select` too.

[code]

`.trigger('change')` isn't supported yet, but I bet it would be a quick fix.

[2017-10-15 20:15] #146 closed

[2017-10-15 20:18] #131 closed

[2017-10-15 20:18] #117 closed

[2017-10-15 20:19] #111 closed

[2017-10-15 20:20] eddyerburgh commented on #147
Not currently.

I would happily accept a PR that added a refs option where you could pass an object. Unfortunately I don't have time at the moment to implement it myself 😞

[2017-10-15 20:24] eddyerburgh commented on #158
This isn't supported at the moment, sorry.

I'd recommend against importing it in a script tag, and instead import it with es6/ commonjs.

[2017-10-15 20:24] #158 closed

[2017-10-16 12:48] swingboat opened #159 "Can't get input value based on v-model"
I write a Vue component, the following is the related code:
[code]
Based on this component, I begin to write unit test, the following is the related code:
[code]

When I run this test case, check the console output. the following is the related output:
[code]

why is the value of the input control empty? Do the avoriaz not support v-model?

[2017-10-17 09:18] willypt opened #160 "Migrating from Avoriaz to vue-test-utils"
Seeing vuejs/vue-test-utils has reached beta version, it would be great if we start to do documentation for migrating from avoriaz to vue-test-utils if needed.
Any kind soul who wants to kick off this in their fork would be great.

Putting this as a reminder for the future.
@eddyerburgh

[2017-10-17 10:07] eddyerburgh commented on #160
Thanks for the reminder. I would welcome a PR from anyone interested. I've detailed some of the key differences in this post — https://github.com/vuejs/vue-test-utils/issues/89

[2017-10-17 11:07] willypt commented on #159
Hi @swingboat, it works as expected.
Vue-related attributes and value textfield should not be shown on the rendered HTML, as they are when being inspected on Chrome DevTools or other similar tool.

However, if you need to access the value, you may try this snippet
[code]
[code]

[2017-10-17 11:29] willypt commented on #157
[code]

[code]
returns

[code]

Can you please let us know the use case? It seems it's not a bug

[2017-10-17 13:21] podlebar commented on #157
@willypt

here is the component: https://gist.github.com/podlebar/448d11a959a51a7373a71f24b531be7f
and here the test: https://gist.github.com/podlebar/469c1764ef2aa3f7c9bd760403ab2c4e

the first span in the component i would like to remove.. but when i remove it wrapper.html() is undefined.. with span it works good.

[2017-10-18 02:17] willypt commented on #157
hi @podlebar,
I've checked on your code and yes, it seems that after mounting and setting props forcefully via `setProps`, the dom in Avoriaz Wrapper is not re-rendered, even when I try `.update()` it. Will check later though.
[code]

however, for the current workaround, if you try to setting the props when being **instantiated**, you can get the correct result
[code]

[2017-10-18 06:17] eddyerburgh commented on #157
This should be fixed in 6.0.1 🙌

[2017-10-18 06:21] podlebar commented on #157
thx a lot @eddyerburgh @willypt  👍

[2017-10-18 08:02] willypt commented on #157
Thanks for the fix @eddyerburgh ! 👍

[2017-10-20 05:52] LoneRifle commented on #80
I'm currently unable to coax avoriaz to accept my mock router or router-link stubs, and so the tests insist that the router-link element is unknown. I've tried `shallow`, stubbing a router-link component manually and other functions all to no avail. If there's a guide that can walk me through this I'd be happy to give it a read.

[2017-10-21 01:20] d1820 opened #161 "Testing props being passed to child components on mount"
I have a parent component where a placeholder is set as a prop. this prop is passed into a child component that has an input field. when i try and write a test to find the input  adn check the rendered placeholder property its always undefined. i can find the wrapper but none of the props are set on the input component. based on #93  can i assume this functionality does not exist and there is no w

[2017-10-22 20:10] eddyerburgh commented on #161
Hey, this is actually a big issue right now for vue-test-utils too. I believe this has to do with JSDOM (are you testing with JSDOM?)

I'm going to try and really dig into this issue this week and will update you when I find a solution.

[2017-10-22 20:27] d1820 commented on #161
Yes using JSDOM..  Thanks for looking into it.. I would but with my current tight deadlines, dont have the bandwidth...

[2017-10-23 11:50] erwin16 opened #162 "Test fails when trying to trigger click inside <router-view></router-view>"
according to your answer for using router in tests, I defined my test as stated , and I try to trigger a click event on one of the elements inside the <router-view> but I get the error:

        TypeError: link.trigger is not a function

here is my App.specs.js

		import Vue from 'vue'
		import VueRouter from 'vue-router'
		import App from '@/App'
		import Vuex from 'vuex'

		import router from '@

[2017-10-23 12:06] erwin16 commented on #162
my fault :  forgot to use the [0]

   wrapper.find('li#shoppinglists a')[0].trigger('click')

triggered now !

[2017-10-23 12:06] #162 closed

[2017-10-24 21:32] kb-coder commented on #77
Is there any update on this? I'm running into the same issue with transition-group and transition.

[2017-11-01 02:27] swingboat commented on #159
Thanks willypt. I already understood it, Thanks!

[2017-11-01 02:27] #159 closed

[2017-11-06 16:23] CalamarBicefalo opened #165 "hasAttribute docs seem to be outdated"
There seems to be a little discrepancy between the docs and the actual code. The docs suggests that hasAttribute should be happy with the name of the attribute, but the code forces you to actually define a value too.

It would be great to make sure both things remain aligned.

In the docs
`expect(wrapper.hasAttribute('id')).to.equal(true);`

In the code (latest version in GH)
[code]

[2017-11-06 16:29] CalamarBicefalo commented on #165
My bad, we had an old version of avoriaz.

[2017-11-06 16:29] #165 closed

[2017-11-09 17:25] acacha commented on #77
Related info? https://github.com/vuejs/vue-test-utils/issues/52

[2017-11-09 17:34] acacha commented on #77
It works for me using vue-test-utils and shallow instead of mount when mounting component.

[2017-11-13 11:36] #157 closed

[2017-11-13 19:27] signal-intrusion commented on #80
@chrisnicola what other issues?

[2017-11-13 19:30] signal-intrusion commented on #80
@eddyerburgh do you have that guide written o maybe just drop a couple lines in here to help unblock us. THANKS! 😄

[2017-11-13 19:45] eddyerburgh commented on #80
This is a guide for vue-test-utils but it's the same concepts — https://vue-test-utils.vuejs.org/en/guides/using-with-vue-router.html

[2017-11-15 22:02] cata-libuy opened #166 "Returning indefined on wrapper.html() for a component with jade and vuex"
Hi
I'm using the vue webpack template, with jade and vuex, and trying to test this component.

Here is the component:

[code]

And here is my test:

[code]
It appears that the template it's not beeing mounted, since wrapper.html() outputs undefined, and the test fails with `undefined is not a constructor (evaluating 'this.element.querySelectorAll(selector)')`.

Did I miss something?
Does it suppor

[2017-11-30 20:15] scottadamsmith commented on #75
@eddyerburgh I could really use that stub option for mount/shallow. I am considering porting it to avoriaz or making the move to vue-test-utils to get it. Not sure which makes more sense. Curious how long you think it will be worthwhile to continue to port new features back here?

[2017-12-01 06:58] eddyerburgh commented on #75
I think some people will be using this project for a long time, so porting
this feature would be very useful for some people. I'd happily accept a PR
that added the stubs option!

On Thu, Nov 30, 2017 at 8:15 PM, Scott Smith <notifications@github.com>
wrote:

[2017-12-13 14:39] SergeyKhval opened #170 "Tests disregard disabled attribute"
The following test fails

[code]

[code]

[2017-12-13 16:39] eddyerburgh commented on #170
How are you running the tests (what browser/ test runner/ compiler)

[2017-12-14 08:09] SergeyKhval commented on #170
I use karma with headless chrome and webpack

[2017-12-14 08:24] SergeyKhval commented on #170
I tried to reproduce it with a clean vue-cli installation and it still fails

[2017-12-17 04:06] scottadamsmith commented on #75
I started looking this and realized that I may actually want to build upon the renderDefaultSlot option that was added earlier by @disitec. Currently, that option applies only to global components. However, we struggle with wanting to test the default slot content for a child component while using shallow. If I understand things correctly, shallow stubs child components the same way that global co

[2017-12-17 07:48] eddyerburgh commented on #75
@scottadamsmith yes if you'd like to implement I'd be happy to review and merge 🙂

[2017-12-25 12:52] lmiller1990 commented on #127
It turned out I could solve this using `setTimeout` around the expectations.

In response to this I wrote a guide in `vue-test-utils` so other people don't run into this problem.

Thanks!

[2017-12-25 12:52] #127 closed

[2018-01-05 12:58] peteringram0 commented on #127
For anyone else who comes across this issue it seems to be fixed without the need for vue-test-utils.

Working like the following:
[code]

[2018-01-13 18:48] Naker90 opened #171 "How can I use shallow() for a component wrapped in a function within a class"
Hi, I'm doing a proof of concept on the MVP pattern with passive view. Because of this I have the component of vue wrapped in a function within a class.
How can I mount it using shallow ()?

I have tried to do this:
`shallow(PurchaseInfoComponentVueView().showView());`
But it's very ugly and does not work.

My code:
`import Vue from 'vue';

function PurchaseInfoComponentVueView(){

    const VIEW_

[2018-01-14 14:00] Naker90 commented on #171
Sorry, I was posing the test badly and should not be testing the view of my MVP pattern.
If you want, you can close this thread.
Thanks and sorry for bothering.

[2018-01-14 14:17] #171 closed

[2018-01-14 16:01] mboullouz commented on #59
Hi @eddyerburgh ,
we work on a "classical" web app where most views are generated in the server side, we added Vue to enhance user experience, we have all components bundled in one webpack big file that is included in every page (and obviously most components are not in the 'current' page).
My question: does it impact perfs or just Vue warn and ignore ?

[2018-01-17 13:14] icaioincau opened #172 "Trigger not working with click"
My fault, wrong called, sorry.

[2018-01-17 13:18] #172 closed

[2018-02-02 13:54] feliupe opened #174 "Make children select work as it should"
I have a question:

Sorry if I misunderstood the way it should work. I have the following html:

[code]
and my test as:
[code]

This is not how the css selector should behave?

[2018-02-02 21:28] eddyerburgh commented on #174
This is the correct behavior I believe.

There are two elements that match that selector, the first span tag, and the second span tag. Both are direct descendants of an element with .Item class

[2018-02-17 17:56] hosein2398 opened #175 "data() returns empty object"
Hey,
I'm using Avoriaz with AVA and I've written some tests so far.
In one test I'm trying to get data() of a component but it returns empty object.
`data` of my component :
[code]
and `this.data[0]` is prop if you wonder.
And here is test:
[code]

[2018-02-18 07:21] eddyerburgh commented on #175
Thanks for the bug report.

What Vue version are you using?

[2018-02-18 13:19] hosein2398 commented on #175
I'm using
[code]

[2018-04-02 02:39] scottadamsmith commented on #97
I realize now this is a pretty old issue, but there is a workaround in case anyone else runs into it. Assuming that the Vuetify components are registered globally, you can set a name property on any relevant components via a new vue instance for your tests.

Something along these lines:
[code]

I haven't actually used the approach of setting name only in quite some time though (I now stub the enti

[2018-04-09 09:13] viktorlarsson opened #176 "Trigger mouseover/mouseleave etc"
Is there a way to do this?

[2018-04-09 09:19] #176 closed, assigned to nobody

[2018-04-10 19:37] kris-luminar opened #177 "Is this project deprecated in favor of vue-test-utils now?"
The main README says:

https://github.com/eddyerburgh/avoriaz#deprecation

Judging from how the vue-test-utils project looks, I think maybe that has already occurred.
https://github.com/vuejs/vue-test-utils

Anyone know for sure?

[2018-04-10 20:21] eddyerburgh commented on #177
Hey, vue-test-utils is still in beta, but I spend almost all my  time working on that project. avoriaz hasn't been officially deprecated yet, but I recommend using vue-test-utils

[2018-04-11 13:11] kris-luminar commented on #177
Awesome--appreciate the info and all your hard work on those two testing libraries!

[2018-04-11 13:11] #177 closed, assigned to nobody

[2018-05-04 10:22] viktorlarsson opened #178 "Scoped slots (slot-scope) issues"
Currently [scoped slots](https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots) in our project, but we have come across when having multiple slots on the same component.

This is an example we are using it at the moment:

**vuecomponent.vue**
[code]

**test.html**
[code]

**vuecomponent.spec.ts**

[code]
And when we are mounting it using Avoriaz, the following issue is presented in the con

[2018-05-04 18:48] eddyerburgh commented on #178
Sorry, this isn't possible with avoriaz. You can use vue-test-utils which has a similar API and includes a scopedSlots mounting option.

[2018-05-07 19:55] mcmilleon-will opened #179 "Suppress logged warning on calls to propsData()"
In our tests we often validate default data and prop values for the component under test using something like this:

[code]

We're using v4.2.0 and this works nicely for calls to data(), and it does also work when calling propsData(). However, when calling propsData(), we always get the warning:

I understand the reason for this warning message, but its muddying up my test output. Is there a way I

[2018-05-11 06:13] eddyerburgh commented on #179
There's not currently a way to hide the warnings, would you like to make a PR that adds the feature?

[2018-05-17 06:47] preetiksingh commented on #116
@eddyerburgh How do I mock an api call ?

<template>
 <div>
  <p>{{msg}}</p>
  <button id="toggle-message" @click="toggleMessage">
   Change message
  </button>
  <button id="users" @click="getData">
   Get Users
  </button>
   {{users}}
 </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'message-toggle',
    data: function () {
      return {
        msg: 'def

[2018-05-17 07:56] lmiller1990 commented on #116
@preetiksingh  read this https://vue-test-utils.vuejs.org/en/guides/testing-async-components.html

[2018-05-18 06:26] preetiksingh commented on #116
Hi @lmiller1990 thanks for the link. I am trying to implement it but not sure where to put this code

"The implementation of the axios mock looks like this:

export default {
  get: () => new Promise(resolve => {
    resolve({ data: 'value' })
  })
}
"

And currently my component looks like this

//Foo.vue

<template>
  <button @click="fetchResults" />
</template>

<script>
  import axios from 'ax

[2018-05-18 09:55] lmiller1990 commented on #116
Hey @preetiksingh ,

Can you format your code using three ` marks? It will make the code snippet easier to read. Example:

[code]

function() {
  console.log('this is formatted')
}

The first is much easier to read.

Here is your code formatted. Btw, I thin you forgot the `<template>` part?

[code]

[code]

Second, since you are using jest and called `jest.mock('axios')`, you need to provide a moc

[2018-05-22 14:01] preetiksingh commented on #116
Hi @lmiller1990. Thanks for the help and Can you tell me how do I mock a function which do not have an api call.

For example I have a method in one of my components as :
[code]
This filtered items we are getting from bootstrap-vue.common.js under node modules. I get an array of objects which I am displaying as multiple rows. What are the possible tests I can do here.

Can you give a code snippet

[2018-05-23 01:04] lmiller1990 commented on #116
Wait so you want to test `whenFiltered`?

1. does it set `totalRows`?
2. does it set `currentPage`?

[code]

You use https://github.com/vuejs/vue-test-utils instead of avoriaz.

Also, I think you should ask this on stackoverflow using `vue-test-utils`, or `testing`, `tdd`, `javascript`  tags. More people can respond there. This repo is for bugs or problems with avoriaz. Thanks.

[2018-05-23 09:19] preetiksingh commented on #116
Hey, Thanks @Imiller1990

[2018-05-29 03:07] OneIsAll-L opened #180 "vue-test-utils 1.0.0-beta.11 setData Error"
First use, encountered setData problem.Ask everyone for help.
my code：
`it('setData()方法', () => {
    const wrapper = mount(Counter)
    wrapper.setData({foo: 'bar'})
    expect(wrapper.vm.foo).to.equal('bar')
  })`
terminal：
`setData()方法
     Counter.vue
     AssertionError: expected undefined to equal 'bar'
    at Context.<anonymous> (webpack:///test/unit/specs/Counter.spec.js:81:30 <- index.js:

[2018-05-29 05:22] eddyerburgh commented on #180
Hey, this is the repo for avoriaz.

Try updating to @vue/test-utils beta.16:

`npm i -D @vue/test-utils`

[2018-05-29 05:22] #180 closed, assigned to nobody

[2018-05-29 08:20] OneIsAll-L opened #181 "vue-test-utils 1.0.0-beta.16 setData Error"
First of all, thanks to Eddyyerburgh's help.But I still have problems after trying:
This is my package file：

![_20180529161016](https://user-images.githubusercontent.com/27272763/40646082-d00ce78e-635a-11e8-8f2e-1357aafda2f3.png)
This is my import file：
![_20180529161304](https://user-images.githubusercontent.com/27272763/40646253-395f0b54-635b-11e8-9f79-11b3bfe91d23.png)
And I tried two ways：
On

[2018-06-12 12:06] viktorlarsson commented on #178
Thank you! Any reason why this won't be implemented?

[2018-06-12 13:11] eddyerburgh commented on #178
I don't have time  😛! If someone made a PR I'd be happy to review

[2018-07-11 13:21] MetalNose commented on #59
@mboullouz I'm having the same issue :/

[2018-07-25 10:27] mleg commented on #77
Like **disitec**, I managed to work the problem around by brute force stubbing `getComputedStyle` function.
Just keep in mind you can amend jsdom implementation instead of replacing it:
[code]

[2018-08-06 12:15] res-paul-g commented on #59
@eddyerburgh same here

[2018-08-23 14:51] blieque commented on #109
I'm getting the same error. I'm in a bit of a Vue + TypeScript + Jest tangle, so it could be something else.

My component and spec are as follows:

[code]

[code]

[code]

It sounds like an async thing. Before using Avoriaz I needed to use `Vue.nextTick()` otherwise the DOM wouldn't be populated.

I'm not using a browser to test, but I believe Jest brings jsdom with it. Am I supposed to test the

[2018-08-24 09:53] eddyerburgh commented on #109
I believe the issue is that App isn't compile correctly. Do you get any other errors?

[2018-08-24 12:29] blieque commented on #109
The app was building fine for development and production as far as I can remember. It is now, and I've not changed much. I have swapped out Avoriaz for vue-test-utils and managed to get tests working (just changed `shallow` to `shallowMount` from vue-test-utils). Am I right in thinking vue-test-utils is a fork of Avoriaz and being adopted as the official testing library?

[2018-08-24 12:34] eddyerburgh commented on #109
Yep Vue Test Utils is based off avoriaz. You're better of using Vue Test Utils, so I'm glad it was easy for you to migrate 👍

[2018-08-27 13:15] mathijswesterhof commented on #102
I don't know if anyone is already working on this issue/enhancement, but can that person also look at the feature of key + shiftKey=true (and altKey) because that is currently also not functioning. in specific this line  `wrapper.find('input')[0].trigger('keyup', { keycode: 53, shiftKey: true }); `(in this case %)

[2018-08-30 20:03] riophae commented on #102
@mathijswesterhof Hi, I'm not working on this. Sorry.

[2018-08-31 13:45] eddyerburgh commented on #102
This project isn't actively maintained, although I'm happy to accept PRs.

I recommend using Vue Test Utils, which is based on avoriaz—https://github.com/vuejs/vue-test-utils

[2018-08-31 14:35] mathijswesterhof commented on #102
good to know, i'll try to migrate then, see if the problem is solvable on vue-test-utils. if not I'll make a pr there

[2018-09-20 08:39] wbarnard81 commented on #59
Hi guys, came across this site via a google search. Even though I am not using this app, I am getting the same issue and I know why as well, but I am not sure how to resolve it yet.

I built my own app, using Laravel. One component that I want to use is DataTables. To get this working, I had to remove 'deferred' from [code]<script src="{{ asset('js/app.js') }}"></script>[/code] and since then, I a

[2018-10-19 15:57] Seminioni opened #182 "Can't find nested component with neither '.find' nor '.first' wrapper methods"
My `BottomConnectorControl.vue` has template:
[code]

In tests I try to find `Toggle` to trigger `click` on it, but it finishes with nothing.

[code]

After running the tests I see it in my console. Despite of the argument I pass to the `find` method it returns `[]` an empty Array. But if I try to find `Panel` component, it will find it:
![image](https://user-images.githubusercontent.com/16149737/

[2018-10-23 10:13] Seminioni commented on #182
@eddyerburgh sorry to trouble you, can you help? :)

[2018-10-24 17:10] Seminioni commented on #182
Issue resolved after migration to the @vue/test-utils

[2018-10-24 19:20] eddyerburgh commented on #182
Yes, I recommend migrating to @vue/test-utils 👍

[2018-10-30 05:16] ekramulmostafa commented on #116
@lmiller1990 and @eddyerburgh ,
Guys can you please help me out with a simple page unit testing. I'm noob in vue unit testing. I need to check the functions return values and also the rendered ContentListBlock printed content if possible.

ContentList.vue page
---------------------------------------------------
[code]

[2018-10-30 13:54] lmiller1990 commented on #116
Have you tried to write a test? What have you gotten so far?

PS: Consider moving to `vue-test-utils`, it's the official lib for Vue testing. The creator of this lib is also the maintainer of it.

There is a collection of testing guides [here](https://lmiller1990.github.io/vue-testing-handbook/finding-elements-and-components.html#finding-components-with-name-and-component).

[2018-11-30 14:34] crocodilered commented on #59
Same bug.

[2018-12-11 15:00] antangible commented on #59
Same error.

[2019-01-18 22:44] RachnaKinger11 commented on #123
I am getting a similar error but is for **_vm._ssrList is not a function**

TypeError: _vm._ssrList is not a function
    at Proxy.render (/frontEnd/lg-component-breadcrumbs/dist/webpack:/components/Breadcrumbs.vue:8:1)
    at VueComponent.Vue._render (/frontEnd/lg-component-breadcrumbs/dist/webpack:/node_modules/vue/dist/vue.runtime.esm.js:4540:1)
    at VueComponent.updateComponent (/frontEnd/lg

[2019-01-23 10:40] jaapio commented on #102
asasddsadsa

[2019-03-26 05:56] d1820 opened #183 "How do you ensure a global is being set to child components from mount?"
I am mounting an instance of a component and I am setting the globals, when the component is rendered the child components dont have the global available. Am i missing something or doing it wrong?

I have tried
[code]
and

[code]
and
[code]

in all the mounted component has $myref

but the child always shows undefined.

Any ideas or help would be great.

Thanks

[2019-04-27 10:34] eddyerburgh commented on #183
Is the child component created with Vue.extend? If so then this library doesn't support adding globals. I recommend using [@vue/test-utils](https://github.com/vuejs/vue-test-utils) instead.

[2019-06-22 20:41] milad-4274 commented on #59
same warn

[2019-08-06 18:24] bseib commented on #42
Sorry to post on old/closed issue, but for the next person -- the correct permalink for that line of code from comment https://github.com/eddyerburgh/avoriaz/issues/42#issuecomment-302528489 is: https://github.com/vuejs/vue-router/blob/4e3b377e2eb9fdb4bc097e428cb8dcfeff59c3bc/src/install.js#L12  There you can see what's going on.

[2021-07-07 04:59] AndreiDetenkov commented on #127
[code]

[2021-10-02 16:36] Alwongs commented on #59
Put the <script> in the bottom of body teg. For me, it helped